.userinfo__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userinfo__container {
  margin-bottom: 4rem;
}

.auth-link {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}
