.userPage .userinfo__container {
  margin-bottom: 2rem;
}

.userPage__add-btn {
  z-index: 10;
}

.userPage__add-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.userPage__add-form textarea {
  flex: 1;
}
