.userinfo__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userinfo-box {
  display: flex;
  align-items: center;
}

.membership_text {
  font-size: 0.8rem;
  color: var(--dark-grey);
  position: relative;
  top: 0.5rem;
  margin-left: 0.5rem;
}

.userinfo__container {
  margin-bottom: 4rem;
}

.auth-link {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}
