@import "./reset.css";
@import "./shared.css";
@import "./header2.css";
/* @import "./post/post_write.css"; */
@import "./post/shared.css";
@import "./post/main.css";
@import "./post/detail.css";
@import "./post/write.css";
@import "./post/edit.css";
@import "./post/main.css";
@import "./user/auth.css";
@import "./user/userpage.css";

/* 이미지 뭉개지는것때문에 임의로 넣었는데
 포스트 카드 이미지 조정되었다면 빼도 됩니다. */

/* img {
  width: 100%;
  max-width: 10rem;
} */

body {
  position: relative;
  min-height: 100vh;
}

a {
  all: unset;
}
