@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --border-grey: #e3e3e3;
  --primary-color: #1da15d;
  /* --primary-color: #41b98A; */
  /* --primary-color: #3A42BA; */
  /* --primary-color: #1CD463; */
  /* --primary-color: #21d092; */
  /* --primary-color: #10c3a7; */
  --secondary-text-color: rgb(120, 120, 120);
  --grey: #f5f5f7;
  --header-height: 4rem;
  --dark-grey: #636e72;
}

* {
  box-sizing: border-box;
  font-family: "SUITE-Regular", sans-serif;
}

/* 임시 폰트 강제 적용 */
div,
p,
form,
label,
input,
select,
h1,
h2,
h3 {
  font-family: "SUITE-Regular", sans-serif !important;
}

.container {
  padding: 0 150px;
}

@media (max-width: 450px) {
  .container {
    padding: 0;
  }
}

.messages {
  position: fixed;
  top: 1rem;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 500;
  transition: top 0.9s ease-in-out, opacity 0.5s ease-in-out;

  @media screen and (max-width: 600px) {
    width: 70%;
  }
}

.message {
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.message.show {
  top: 2rem; /* Display the message naturally */
  opacity: 1;
}

.message.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.message.error {
  background-color: #f2dede;
  color: #a94442;
}

.center__layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.hidden {
  display: none;
}

.fa-solid.fa-heart {
  color: red;
}

.fa-solid.fa-star {
  color: #f39c12;
}

.container {
  margin: 0 100px;
}

.btn {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 125, 255, 0.9);
}

.secondary-btn {
  padding: 5px 10px;
  border: none;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 100px;
  background-color: transparent;
  color: var(--primary-color);
}

.secondary-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.underline-btn {
  padding: none;
  border: none;
  outline: none;
  color: var(--secondary-text-color);
  background-color: transparent;
}

.underline-btn:hover {
  color: black;
  cursor: pointer;
}

.nav-tabs {
  height: 60px;
  display: flex;
  margin-bottom: 2rem;
  flex-direction: row;
  align-items: center;
  /* var 붙여주고 (안붙어있어서) boxshadow 제거해주었습니다 */
  border: solid 1px var(--border-grey);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.nav-item {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(120, 120, 120);
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item.active {
  color: var(--primary-color);
}

/* 밑에꺼는 지금 적용이 안되는 상태입니다. 확인하고 지워주세용 */
.nav-item:active {
  color: var(--primary-color);
}

.nav-item:active::after {
  width: 200px;
  height: 6px;
  background: var(--primary-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.tab-pane {
  margin-bottom: 2rem;
}

/* 글씨 크기 관련 */
.section-title {
  font-size: 1.4rem;
}

/* 공통 컴포넌트: input, textarea */
.writePage-input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
}

/* 공통 컴포넌트: 포스트 카드 관련 */
.post__title,
.userinfo__title {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.post__container,
.userinfo__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
  justify-content: center;
  align-items: center;
}

.card__container {
  position: relative;
  height: 450px;
  background-color: white;
  border: solid 1px var(--border-grey);
  border-radius: 5px;
  color: black;
  transition: all 0.3s ease-out;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
}

.card__container:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.card__header {
  height: 70px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  margin-bottom: 3px;
  font-size: 1.1rem;
}

.card-author {
  color: rgb(120, 120, 120);
  font-size: 0.8rem;
}

.card-thumbnail {
  background-color: gray;
  height: 220px;
}

.card-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  line-height: 1.4rem;
  max-height: 90px;
  padding: 20px 10px 2rem;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.card__buttons {
  position: absolute;
  bottom: 0px;
  padding: 20px 10px;
  display: flex;
  gap: 0.5rem;
}

.card-btns {
  margin: 0 5px;
  background-color: transparent;
}

/* 유저카드	 */
.usercard__container {
  /* width: 280px; */
  height: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  color: black;
  position: relative;
}

.usercard__container.add {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.usercard__header {
  color: var(--secondary-text-color);
  font-size: 1.1rem;
}

.usercard__header-controls {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.usercard__header-controls i {
  color: var(--secondary-text-color);
}

.usercard__body {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.usercard__content {
  max-width: 100%;
  max-height: 180px;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: wrap;
  line-height: 1.4rem;
}

.usercard__content::-webkit-scrollbar {
  display: none;
}

/* .userPage__intro-guide {
  max-width: 100%;
  max-height: 180px;
  overflow-y: auto;
  word-wrap:break-word;
}

.userPage__intro-guide::-webkit-scrollbar {
  display: none;
  width: 5px;  
} */

/* 스크롤바의 색상 */
/* .userPage__intro-guide::-webkit-scrollbar-thumb {
  height: 20px;
  background: var(--border-grey); 
  border-radius: 10px;
} */

/*스크롤바 뒷 배경 색상*/
/* .userPage__intro-guide::-webkit-scrollbar-track {
  background: transparent;  
} */

/* 반응형 컨테이너 관련 */
.responsive-container {
  width: 90%; /* Default width for 450px or less */
  max-width: 1320px; /* Maximum width for 1400px or more */
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 450px) {
  .responsive-container {
    width: 430px; /* Width for 450px to 768px */
  }
}

@media (min-width: 768px) {
  .responsive-container {
    width: 720px; /* Width for 768px to 992px */
  }
}

@media (min-width: 992px) {
  .responsive-container {
    width: 960px; /* Width for 992px to 1200px */
  }
}

@media (min-width: 1200px) {
  .responsive-container {
    width: 1140px; /* Width for 1200px to 1400px */
  }
}

/* footer {
  position: relative;
  z-index: -1;
} */

.content_padding {
  padding-top: 6rem;
  position: relative;
  min-height: 90vh;
}

.color-grey {
  color: var(--dark-grey);
}
