:root {
  --border-grey: rgba(189, 195, 199, 0.7);
  --primary-color: #007DFF;
  --secondary-text-color: rgb(120, 120, 120);
}

* {
  box-sizing: border-box;
}

.messages {
  position: fixed;
  top: 1rem;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 500;
  transition: top 0.9s ease-in-out, opacity 0.5s ease-in-out;

  @media screen and (max-width: 600px) {
    width: 70%;
  }
}

.message {
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.message.show {
  top: 2rem; /* Display the message naturally */
  opacity: 1;
}

.message.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.message.error {
  background-color: #f2dede;
  color: #a94442;
}

.center__layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.fa-solid.fa-heart {
  color: red;
}

.fa-solid.fa-star {
  color: #f39c12;
}

.container {
  margin: 0 100px;
}

.nav-tabs {
  height: 60px;
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3c763d;
  border: solid 1px --border-grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(120, 120, 120)
  
}

.nav-item:hover{
  cursor: pointer;
}

.nav-item:active {
  color: var(--primary-color)
}

.nav-item:active::after {
  width: 200px;
  height: 6px;
  background: var(--primary-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.post__title, .userinfo__title {
  font-size: 2rem;
  margin: 40px 0 10px
}

.post__container, .userinfo__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: blue;
  
}

.card__container {
  height: 450px;
  margin: 20px 50px;
  background-color: white;
  border: solid 1px --border-grey;
  border-radius: 5px;
  color: black;
}

.card__header {
  height: 70px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-author {
  color: rgb(120, 120, 120)
}

.card-thumbnail {
  background-color: gray;
  height: 220px;
}

.card-description {
  height: 100px;
  padding: 20px 10px;
}

.card__buttons {
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
}

.card-btns {
  margin: 0 5px;
}

.usercard__container {
  height: 300px;
  padding: 30px;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: solid 1px --border-grey;
  border-radius: 5px;
  color: black;
}

.usercard__header {
  color: var(--secondary-text-color)
}

.usercard__body {
  height: 180px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}