{% extends 'main/main_templates.html' %} {% load static %}

<div>
  {% block stylesheet %}
  <link
    rel="stylesheet"
    href="{% static 'library/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}"
  />
  <link rel="stylesheet" href="{% static 'post/detail/detail.css' %}" />
  <link rel="stylesheet" href="{% static 'post/main/main.css' %}" />

  {% endblock %}
</div>

<div>
  {% block mainContent %}
    <div>
      <div class="main__curation detailPage">
        <div class="main__curation-title">
          <h1>마이패스 이용 가이드</h1>
        </div>
        {% if user.is_authenticated %}
        <ul class="main-container row-mode detailPage__main">
          <li class="path path_8c2a5cd5-dd00-4a69-84ad-2105818a5984" style="display: block;">
            <div class="step-container">
              <section class="step">
                <div class="step-content disabled">
                  <p class="title">
                    
                    로그인 성공!
                    
                  </p>
                  <p class="desc">마이패스의 다양한 서비스들을 이용해보세요!
                  </p>  
                  <!-- <button class="btn detailPage__detailBtn" id="more-btn" type="button">
                    로그인 하러 가기</button> -->
                </div>
              </section>
              <section class="step">
                <div class="step-content">
                  <p class="title">마이패스를 둘러보세요!
                  </p>
                  <p class="desc">다른 사람들은 어떤 패스를 썼을까요? 
                  </p>  
                  <button class="btn detailPage__detailBtn" id="more-btn" type="button"
                    onclick="slideToCuration1()"
                  >
                  패스 보러가기</button>
                </div>
              </section>
              <section class="step">
                <div class="step-content">
                  <p class="title">나만의 패스를 만들어보세요!</p>
                  <p class="desc">커리큘럼, 나만의 계획, 나의 경험 정리..뭐든 좋아요!                    
                  </p>  
                  <a href="{% url 'post:post_write' %}">
                    <button class="btn detailPage__detailBtn" id="more-btn" type="button">
                      패스 만들러 가기</button>
                  </a>
                </div>
              </section>
              <section class="step">
                <div class="step-content">
                  <p class="title">공유해보세요!</p>
                  <p class="desc">내가 만든 패스를 다른 사람들과 공유해보세요! 댓글도 쓰고, 채팅하면 재미가 두배!    
                  </p>  
                  <a href="{% url 'my_page' %}">
                    <button class="btn detailPage__detailBtn" id="more-btn" type="button"                    
                    >
                      내 패스 보러가기</button>
                  </a>
                </div>
              </section>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="main-container row-mode detailPage__main">
          <li class="path path_8c2a5cd5-dd00-4a69-84ad-2105818a5984" style="display: block;">
            <div class="step-container">
              <section class="step">
                <div class="step-content">
                  <p class="title">아직 로그인을 안하셨네요!
                  </p>
                  <p class="desc">로그인하시고 마이패스의 다양한 서비스들을 이용해보세요!
                  </p>  
                  <a href="{% url 'user_login' %}">
                    <button class="btn detailPage__detailBtn" id="more-btn" type="button">
                      로그인 하러 가기</button>
                  </a>
                </div>
              </section>
              <section class="step">
                <div class="step-content">
                  <p class="title">마이패스를 둘러보세요!
                  </p>
                  <p class="desc">다른 사람들은 어떤 패스를 썼을까요? 
                  </p>  
                  <button class="btn detailPage__detailBtn" id="more-btn" type="button"
                  onclick="slideToCuration1()"
                  >
                  패스 보러가기</button>
                </div>
              </section>
              <section class="step">
                <div class="step-content disabled">
                  <p class="title">나만의 패스를 만들어보세요!
                    
                  </p>
                  <p class="desc">커리큘럼, 나만의 계획, 나의 경험 정리..뭐든 좋아요!                    
                  </p>  
                  <button class="btn detailPage__detailBtn" id="more-btn" type="button">
                    패스 만들러 가기</button>
                </div>
              </section>
              <section class="step">
                <div class="step-content disabled">
                  <p class="title">
                    
                    공유해보세요!
                    
                  </p>
                  <p class="desc">내가 만든 패스를 다른 사람들과 공유해보세요! 댓글도 쓰고, 채팅하면 재미가 두배!    
                  </p>  
                  <button class="btn detailPage__detailBtn" id="more-btn" type="button">
                  내 패스 보러가기</button>
                </div>
              </section>
            </div>
          </li>
        </ul>
        {% endif %}
      </div>

      <!-- curation1 첫번째 캐러셀-->
      {% if curation_1 %}
      <div class="main__curation curation_1">
        <div class="main__curation-title">
          <h1>{{curation_1.name}}</h1>
        </div>
        <ul class="main__curation-container owl-carousel">
          {% for post in curation_1.list %}
            <li class="main__curation-item">
              <div class="card__container post-id-{{ post.id }}">
                <a href="{% url 'post:post_detail' pk=post.id %}">
                  <div class="card__header">
                    <div class="card-header-left">
                      <div class="card-author-profile-image">
                        {% if post.user.profile %}
                        <img src="{{post.user.profile.url}}">
                        {% else %}
                        <img src="{% static 'resource/noimage.jpg' %}"/>
                        {% endif %}
                      </div>
                    </div>
                    <div class="card-header-right">
                      <div class="card-title">{{post.title}}</div>
                      <div class="card-author">{{post.user.username}}</div>
                    </div>
                  </div>
                  <div class="card__body">
                    <div class="card-thumbnail">
                      {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="my icon"/>
                      {% else %}
                      <img src="{% static 'resource/noimage.jpg' %}" />
                      {% endif %}
                    </div>
                    <div class="card-description">{{post.desc}}</div>
                  </div>
                </a>
                <div class="card__buttons">
                  <div class="like-btn">
                    <i class="fa-solid fa-heart"></i>
                    <span>{{post.like_table.count}}</span>
                  </div>
                  <div class="reply-btn">
                    <i class="fa-solid fa-comment-dots"></i>
                    <span>{{post.post_comment.count}}</span>
                  </div>
                  <div class="share-btn" onclick="copyPostLink('{{post.id}}')">
                    <i class="fa-solid fa-share-nodes"></i>
                    <span>공유</span>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <!-- curation2 두번째 캐러셀 -->
      {% if curation_2 %}
      <div class="main__curation">
        <div class="main__curation-title">
          <h1>{{curation_2.name}}</h1>
        </div>
        <ul class="main__curation-container owl-carousel">
          {% for post in curation_2.list %}
            <li class="main__curation-item">
              <div class="card__container post-id-{{ post.id }}">
                <a href="{% url 'post:post_detail' pk=post.id %}">
                  <div class="card__header">
                    <div class="card-header-left">
                      <div class="card-author-profile-image">
                        {% if post.user.profile %}
                        <img src="{{post.user.profile.url}}">
                        {% else %}
                        <img src="{% static 'resource/noimage.jpg' %}"/>
                        {% endif %}
                      </div>
                    </div>
                    <div class="card-header-right">
                      <div class="card-title">{{post.title}}</div>
                      <div class="card-author">{{post.user.username}}</div>
                    </div>
                  </div>
                  <div class="card__body">
                    <div class="card-thumbnail">
                      {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="my icon"/>
                      {% else %}
                      <img src="{% static 'resource/noimage.jpg' %}" />
                      {% endif %}
                    </div>
                    <div class="card-description">{{post.desc}}</div>
                  </div>
                </a>
                <div class="card__buttons">
                  <div class="like-btn">
                    <i class="fa-solid fa-heart"></i>
                    <span>{{post.like_table.count}}</span>
                  </div>
                  <div class="reply-btn">
                    <i class="fa-solid fa-comment-dots"></i>
                    <span>{{post.post_comment.count}}</span>
                  </div>
                  <div class="share-btn" onclick="copyPostLink('{{post.id}}')">
                    <i class="fa-solid fa-share-nodes"></i>
                    <span>공유</span>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <!-- {% for cur in curations %}
        <div class="main__curation">
          <div class="main__curation-title">
            <h1>{{cur.name}}</h1>
          </div>
          <ul class="main__curation-container owl-carousel">
            {% for post in cur.list %}
              <li class="main__curation-item">
                <div class="card__container post-id-{{ post.id }}">
                  <a href="{% url 'post:post_detail' pk=post.id %}">
                    <div class="card__header">
                    <div class="card-author-profile-image"></div>
                    <div class="card-title">{{post.title}}</div>
                    <div class="card-author">{{post.user.username}}</div>
                  </div>
                  <div class="card__body">
                    <div class="card-thumbnail">
                      {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="my icon"/>
                      {% else %}
                      <img src="{% static 'resource/noimage.jpg' %}" />
                      {% endif %}
                    </div>
                    <div class="card-description">{{post.desc}}</div>
                  </div>
                  </a>
                  <div class="card__buttons">
                    <div class="like-btn">
                      <i class="fa-solid fa-heart"></i>
                      <span>{{post.like_table.count}}</span>
                    </div>
                    <div class="reply-btn">
                      <i class="fa-solid fa-comment-dots"></i>
                      <span>{{post.post_comment.count}}</span>
                    </div>
                    <div class="share-btn" onclick="copyPostLink('{{post.id}}')">
                      <i class="fa-solid fa-share-nodes"></i>
                      <span>공유</span>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %} -->
    </div>

  </div>
</div>

<script>

    function slideToCuration1() {
      curation_1.scrollIntoView({behavior: "smooth"});  
      // window.scrollBy(0,-100);
    }
    const curation_1 = document.querySelector(".curation_1"); 

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'library/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
<script>
  $(".owl-carousel").owlCarousel({
    center: false,
    loop: true,
    margin: 15,

    responsiveClass: true,
    responsive: {
      0: {
        items: 1.15,
      },
      600: {
        items: 3,
        nav: false,
      },
      1000: {
        items: 4.3,
        // loop: false,
      },
    },
  });
</script>

<!-- 포스트 링크 클립보드 복사 -->
<!-- base.html로 옮겼습니다 -->

{% endblock %}
