.main__templates {
  width: 70%;
  margin: 1rem auto 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main__logo {
  width: 23rem;
  height: 8rem;
  cursor: pointer;
  animation: fadeIn 0.6s;
}

.main__searchForm {
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 0.3rem;
}

#search-input {
  width: 100%;
  height: 40px;
  padding: 15px 20px;
  border: 1.2px solid var(--primary-color);
  border-radius: 50px;
  padding-right: 3rem;
}

.main__search-icon {
  all: unset;
  display: block;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.main__search-btn {
  width: 70px;
}

.main__category {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main__category-list {
  display: inline-flex;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.main__category-list::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

.main__category-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.main__category-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.main__category-list::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 4px;
}

.main__category-item {
  white-space: nowrap;
  width: auto;
  padding: 7px 15px;
  display: flex;
  flex-direction: center;
  align-items: center;
  border: 1px solid var(--border-grey);
  border-radius: 50px;
}

.main__category-item:hover {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

.main__category-item:not(:last-child) {
  margin-right: 0.5rem;
}

.main__curation {
  margin-bottom: 4rem;
}

.main__curation-title h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  word-break: keep-all;
}

.main__curation-container {
  margin-bottom: 4rem;
  z-index: 1;
}

.main__curation-container .owl-stage-outer {
  padding-top: 5px;
}

.category {
  position: relative;
}

.category__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.category__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.category__item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.searched_item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .category__item-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .searched_item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .main__logo {
    width: 12rem;
    height: 4rem;
  }

  .category__header {
    flex-direction: column;
  }

  .category__header h1 {
    margin-bottom: 0.5rem;
  }

  .main__search-btn {
    display: none;
  }
  .main__searchForm > input {
    flex: 1;
  }

  .main__search-icon {
    right: 0.5rem;
  }

  .category__item-container {
    grid-template-columns: 1fr;
  }

  .searched_item-container {
    grid-template-columns: 1fr;
  }

  .main__searchForm {
    width: 90%;
  }

  .main__search-icon {
    right: 1rem;
  }
}

.main__category-item.active {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}
