.column-mode {
  display: flex;
  gap: 2rem;
}

.container_row-mode {
  display: flex;
  gap: 2rem;
}

.step {
  position: relative;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid black;
}

.step__edit-modal {
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

#pathSelect {
  display: none;
}

@media screen and (max-width: 600px) {
  /* .path {
    display: none;
  } */

  #pathSelect {
    display: block;
  }
}
