.column-mode {
  display: flex;
  gap: 2rem;
}

.container_row-mode {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 600px) {
    display: block;
  }
}

.path {
  /* @media screen and (max-width: 600px) {
    display: none;
  } */
}

.step {
  position: relative;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid black;
  min-width: 15rem;
}

.step__edit-modal {
  position: absolute;
  top: 0px;
  left: 100%;
  padding: 2rem;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border: 1px solid black;
  @media screen and (max-width: 600px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hidden {
  display: none;
}

.pathSelect {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }

  .modal__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
