/* 제작 & 편집 & 디테일의 태그 디자인 */

#tagList {
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
}

#tagList li {
  display: inline-block;
  margin: 5px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 20px;
  white-space: nowrap;
}

#tagList li span {
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
}

/* 카테고리 페이지의 페이지네이션 */

.pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination a {
  all: unset;
  cursor: pointer;
}

.pagination a:hover {
  opacity: 0.7;
}

.pagination li.active {
  font-weight: 700;
}

.pagination-numbers {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
}

.step {
  min-height: 200px;
  position: relative;
  padding: 10px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  background-color: white;
  min-width: 15rem;
}

.new-comment {
  padding: 5px;
  border: solid 1px var(--border-grey);
  border-radius: 5px;
}

.new-comment-reply {
  width: 800px;
}

/* 메인부분 모바일로 한줄 배열될때 중앙으로 가도록. */
.main-container {
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
