.writePage > h1 {
  margin-bottom: 1rem;
}

.writePage__review textarea {
  margin-bottom: 1rem;
}

.writePage__intro {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 0.5rem;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.4rem;
  }
}

.writePage__titleBox {
  display: flex;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.writePage__meta {
  display: flex;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.writePage__tag {
  /* padding-bottom: 1rem; */
  display: flex;
  flex: 1;
}

.writePage__desc {
  margin-bottom: 1rem;
}

.writePage__controlBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mode-btn {
  white-space: nowrap;
}

.writePage__thumbnail {
  display: flex;
}

.writePage__main {
  min-height: 30rem;
}

.labelfor {
  font-size: 0.9rem;
  margin-right: 0.4rem;
  white-space: nowrap;
}

/* 반응형 라벨 다 없애기 */
@media screen and (max-width: 450px) {
  .writePage__intro .labelfor {
    display: none;
  }
}

/* 여기서부터 재사용 -> post/shared.css로 옮길 예정. */

#reviewInput,
#descInput {
  width: 100%;
  min-height: 7rem;

  @media screen and (max-width: 600px) {
    max-height: 5rem;
  }
}

#titleInput {
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

#categorySelect {
  margin-right: 0.5rem;
}

#tagInput {
  @media screen and (max-width: 600px) {
    flex: 1;
  }
}

.path {
  position: relative;
}

.path_intro {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.path_intro > input {
  flex: 1;
}

.path-add-btn,
.step-add-btn {
  white-space: nowrap;
}

.post-input {
  width: 700px;
  height: 40px;
  padding: 10px;
  border: solid 1px var(--border-grey);
  border-radius: 5px;
}

.column-mode {
  @media screen and (min-width: 600px) {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
  }
}

.pathSelect {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.step__edit-modal {
  position: absolute;
  height: fit-content;
  top: 0px;
  left: 110%;
  bottom: 0px;
  padding: 2rem;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 1rem;
  border: 1px solid black;
  @media screen and (max-width: 600px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.container_row-mode .step__edit-modal {
  position: absolute;
  height: fit-content;
  padding: 2rem;
  background-color: white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 1rem;
  border: 1px solid black;
  @media screen and (max-width: 600px) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.container_row-mode {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  @media screen and (min-width: 601px) {
    display: inline-flex;
  }
}

/* 모달 반응형 주기 위함. */
@media screen and (max-width: 600px) {
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }

  .modal__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.step-btn-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* 버튼 관련 컴포넌트 */

.upload-btn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-file .upload-name {
  width: 700px;
  height: 25px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  color: var(--border-grey);
}

.upload-file label {
  height: 25px;
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.upload-file input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
