/* 제작, 편집 공통 사용 */
.step-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.step-content > .writePage-input {
  background-color: rgba(var(--border-grey), 0.3);
  margin-bottom: 0.3rem;
}

#step-desc {
  height: 70px;
}

#step-desc::-webkit-scrollbar {
  width: 5px;
}

#step-desc::-webkit-scrollbar-thumb {
  height: 20px;
  background: var(--border-grey);
  border-radius: 10px;
}

#step-desc::-webkit-scrollbar-track {
  background: transparent;
}

.step-content > .upload-file {
  width: 100%;
}

.step-content #step-upload-btn {
  width: 100%;
}

.step-btn {
  outline: none;
  border: none;
  font-size: 0.8rem;
  color: var(--secondary-text-color);
  background-color: transparent;
}

.step-btn:hover {
  color: black;
  cursor: pointer;
}

.step-upload-btn {
  width: 100%;
}

/* 나중에 정리 */
.writePage > h1 {
  margin-bottom: 2rem;
}

.writePage__intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.labelfor {
  min-width: 150px;
  font-size: 1.1rem;
  margin-right: 0.4rem;
  white-space: nowrap;
}

.writePage__tag-box {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#tagInput {
  flex: 1;
  margin-bottom: 0.5rem;
}

.writePage__desc {
  margin-bottom: 2rem;
}

.writePage__controlBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.mode-btn {
  outline: none;
  border: none;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: white;
  background-color: var(--primary-color);
  white-space: nowrap;
}

.mode-btn:hover {
  background-color: rgba(0, 125, 255, 0.9);
  cursor: pointer;
}

.initial-path-add-btn {
  border: none;
  outline: none;
  width: 240px;
  padding: 5px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.initial-path-add-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 125, 255, 0.1);
}

/* .writePage__thumbnail {
  display: flex;
} */

/* .writePage__main {
  min-height: 1000px;
} */

.writePage__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container_row-mode .modal__overlay {
  position: absolute;
  left: 0px;
}

.col-mode .step_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* 가로모드 */
.writePage .main-container:not(.col-mode) .step:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 0.5rem);
  width: 1rem;
  height: 1rem;
  background-image: url("../left-arrow-angle.png"); /* Set the image path */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: contain; /* Scale the image to fit within the element */
  transform: translateY(-50%) rotate(180deg);
}

.main-container:not(.col-mode) .path {
  margin-bottom: 2rem;
}

.main-container:not(.col-mode) .step_container {
  min-height: 200px;
}

.writePage .col-mode .step:not(:last-child)::before {
  content: "";
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 50%;
  width: 1rem;
  height: 1rem;
  background-image: url("../left-arrow-angle.png"); /* Set the image path */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: contain; /* Scale the image to fit within the element */
  transform: translateX(-50%) rotate(270deg);
}

.writePage__review textarea {
  margin-bottom: 1rem;
}

#writePage-review-title {
  margin-top: 2rem;
}

@media screen and (max-width: 450px) {
  .writePage__intro .labelfor {
    display: none;
  }

  .writePage__intro {
    flex-direction: column;
    gap: 0.4rem;
  }
}

@media screen and (min-width: 600px) {
  .main-container:not(.col-mode) .step_container {
    overflow-x: auto;
  }
}
