{% extends 'base.html' %} {% load static %} 


{% block content %}
<div class="detailPage">
  <div class="detail-container">
    <div class="intro-container">
      <div class="intro-title">
        <h2>{{post.title}}</h2>
        <span class="user-action-btn">
          {% if user.is_authenticated %}
            {% if post.isLiked %}
            <div onclick="likeToggle('{{post.id}}')">
              <i class="fa-solid fa-heart"></i>
            </div>
            {% else %}
            <div onclick="likeToggle('{{post.id}}')">
              <i class="fa-regular fa-heart"></i>
            </div>
            {% endif %}
          {% else %}
          <i class="fa-regular fa-heart"></i>
          {% endif %}
          <span class="post-likes">{{post.like_table.count}}</span>
        </span>
  
        <span class="user-action-btn">
          {% if user.is_authenticated %}
            {% if post.isBookMarked %}
            <div onclick="bookMarkToggle('{{post.id}}')">
              <i class="fa-solid fa-star"></i>
            </div>
            {% else %}
            <div onclick="bookMarkToggle('{{post.id}}')">
              <i class="fa-regular fa-star"></i>
            </div>
            {% endif %}
          {% else %}
          <i class="fa-regular fa-heart"></i>
          {% endif %}
          <span class="post-bookmarks">{{post.bookmark_table.count}}</span>
  
        </span>
      </div>
      <div class="intro-meta">
        <p>카테고리:{{post_category}}</p>
        <ul id="tagList">
          {% for post_tag in post_tags %}
          <li>
              <span>#{{post_tag.tag.name}}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="intro-writer">
        <a href="/">작성자:{{post.user}}</a>
        {% if post.user == user %}
        <a href="{% url 'post:post_edit' id=post.id %}">
          <button class="btn">이 포스트 편집하기</button>
        </a>
        {% endif %}
      </div>

      <div class="accordion">
        <div class="title" onclick="toggleAccordion('accordion1')">
          패스 소개
          <span class="arrow">▼</span>
        </div>
        <div class="content-wrapper" id="accordion1">
          <div class="intro-content">
            <div class="intro-thumbnail">
              {% if post.thumbnail %}
              <img src="{{post.thumbnail.url}}" />
              {% else %}
              <img src="{% static 'noimage.jpg' %}" />
              {% endif %}
            </div>
            <div class="intro-desc">
              <p>{{post.desc}}</p>
            </div>
          </div>
        </div>
      </div>


  
    </div>
    <ul class="main-container {{post.mode}}">
      {% for path in paths %}
      <li class="path path_{{path.id}}">
        <p>{{path.title}}</p>
        <div class="step-container">
          {% for step in path.steps %}
          <section class="step step_{{step.id}}">
            <div>
              <p class="title">{{step.title}}</p>
              <p class="desc">{{step.desc}}</p>
              <button class="btn" type="button" onclick="onClickStepDetail('{{step.id}}')">
                더보기
              </button>
            </div>
            <div class="modal__overlay hidden" id="step-modal-{{step.id}}">
              <div class="step__modal modal_{{step.id}}" >
                <!-- 더보기 버튼을 눌렀을때 나오는 모달 -->
                
              </div>
              <div class="step__comment">
                  <div class="step_comment_{{step.id}}">
  
                  </div>     
                  <input type="text" class="new-comment" placeholder="댓글을 입력하세요"/>
                  <button class="btn comment-create" onclick="onClickStepComment('{{step.id}}')">댓글 쓰기</button>
              </div>
              
            </div>
          </section>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
    </ul>


    <div class="accordion accordion__review">
      <div class="title" onclick="toggleAccordion('accordion2')">
        후기
        <span class="arrow">▼</span>
      </div>
      <div class="content-wrapper" id="accordion2">
        <div class="review-container">
          <div class="review-content">
            <h5>후기</h5>
            {{post.review}}
          </div>
      </div>
      </div>
    </div>

      <div class="comment-container post_{{post.id}}">
        <h5>댓글</h5>
              {% for post_comment in post_comments%}
              <div class="post_comment_{{post_comment.id}}">
                  <p>{{post_comment.writer}}</p>
                  <p>{{post_comment.text}}</p>
                  <button class=" btn post-comment-delete" onclick="deletePostComment('{{post.id}}','{{post_comment.id}}')">댓글 삭제</button>
              </div>
              {% endfor %}
          <form action="{%url 'post:post_create_comment' post.pk%}" method="POST">
              {%csrf_token%}
              <input type="text" name="comment" placeholder="댓글을 입력하세요">
              <input type="submit" value="댓글 쓰기">
          </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
<!-- csrf token. fetch 요청할때 header에 넣어주면 @exempt 안써도 되요. 밑에 사용례 참고 -->
<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
  }
</script>

<script>

    // var clicked=0;
    const requestStepDetail=new XMLHttpRequest();
    onClickStepDetail=(step_id)=>{
        
        var element= document.getElementById(`step-modal-${step_id}`);
        element.classList.toggle("hidden");
        
        //url은 post/step
        const url='step';
        requestStepDetail.open("POST",url,true);
        requestStepDetail.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded",
        );
        var data =JSON.stringify({step_id: step_id});
        requestStepDetail.send(data);

    };
    requestStepDetail.onreadystatechange=()=>{
        if(requestStepDetail.readyState===XMLHttpRequest.DONE){
            if(requestStepDetail.status<400){
                    
                const {step,step_comments}=JSON.parse(requestStepDetail.response);
                step_parsed=JSON.parse(step)[0];
                // console.log(step_parsed["pk"]);
                step_comments_parsed=JSON.parse(step_comments);
                // console.log(step_comments_parsed);
                const stepNode=document.querySelector(`.modal_${step_parsed["pk"]}`);
                const commentNode=document.querySelector(`.step_comment_${step_parsed["pk"]}`);
                // console.log(step_parsed["fields"]["Image"])
                image_url=step_parsed["fields"]["Image"]
                // console.log(image_null==true)
                if (image_url){
                    stepNode.innerHTML = 
                    `<div class="step-${step_parsed["pk"]}">
                        <h3>${step_parsed["fields"]["title"]}<h2>
                        <img src="../media/${step_parsed["fields"]["Image"]}" />
                        <p>${step_parsed["fields"]["desc"]}</p>
                    </div>`;
                }
                else{
                    stepNode.innerHTML = 
                    `<div class="step-${step_parsed["pk"]}">
                        <h3>${step_parsed["fields"]["title"]}<h2>
                        <p>${step_parsed["fields"]["desc"]}</p>
                    </div>`;
                }

                commentNode.innerHTML=``;

                step_comments_parsed.forEach(element => {
                    console.log(element)
                    commentNode.innerHTML+=
                    `<div class="step-${step_parsed["pk"]}-${element["pk"]}">
                        <p>${element["fields"]["writer"]}</p>
                        <p>${element["fields"]["text"]}</p>
                        <button class="btn step-comment-delete" onclick="deleteStepComment('${step_parsed["pk"]}','${element["pk"]}')">댓글 삭제</button>
                    </div>`;
                });
                
            }
        }
    };

    

    
    const requestCommentCreate=new XMLHttpRequest();
    const onClickStepComment=(step_id)=>{
        const url='step/create_comment'; //    post/step/comment_create
        const text=document.querySelector(`#step-modal-${step_id} .new-comment`).value;
        requestCommentCreate.open("POST",url,true);
        requestCommentCreate.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded",
        );
        requestCommentCreate.send(JSON.stringify({step_id:step_id,text:text}))

    };

    requestCommentCreate.onreadystatechange=()=>{
        if(requestCommentCreate.readyState===XMLHttpRequest.DONE){
            if(requestCommentCreate.status<400){
                const{step_id,comment_id,writer,text}=JSON.parse(requestCommentCreate.response);
                console.log(writer);
                const parent=document.querySelector(`.step_comment_${step_id}`);
                parent.innerHTML += 
                `<div class="step-${step_id}-${comment_id}">
                    <p>${writer}</p>
                    <p>${text}</p>
                    <button class="btn step-comment-delete" onclick="deleteStepComment('${step_id}','${comment_id}')">댓글 삭제</button>
                </div>`;
            }
            else {
              window.location.reload()
            }
        }
    };

    const requestStepCommentDelete=new XMLHttpRequest();
    const deleteStepComment=(step_id,comment_id)=>{
        const url='step/delete_comment';
        // console.log(url)
        requestStepCommentDelete.open("POST",url,true);
        requestStepCommentDelete.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestStepCommentDelete.send(JSON.stringify({step_id:step_id,comment_id:comment_id}))
    };

    requestStepCommentDelete.onreadystatechange=()=>{
        if(requestStepCommentDelete.readyState===XMLHttpRequest.DONE){
            if(requestStepCommentDelete.status<400){
                const{comment}=JSON.parse(requestStepCommentDelete.response);
                comment_parsed=JSON.parse(comment)[0]
                commentNode=document.querySelector(`.step-${comment_parsed["fields"]["step"]}-${comment_parsed["pk"]}`);
                commentNode.remove();
            }
        }
    };
    
    //post comment delete
    const requestCommentDelete=new XMLHttpRequest();
    const deletePostComment=(post_id,comment_id)=>{
        const url='delete_comment';
        console.log(url)
        requestCommentDelete.open("POST",url,true);
        requestCommentDelete.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestCommentDelete.send(JSON.stringify({post_id:post_id,comment_id:comment_id}))
    };

    requestCommentDelete.onreadystatechange=()=>{
        if(requestCommentDelete.readyState===XMLHttpRequest.DONE){
            if(requestCommentDelete.status<400){
                const{comment}=JSON.parse(requestCommentDelete.response);
                comment_parsed=JSON.parse(comment)[0]
                commentNode=document.querySelector(`.post_${comment_parsed["fields"]["post"]} .post_comment_${comment_parsed["pk"]}`);
                commentNode.remove();
            }
        }
    };

</script>


<!-- 북마크, 좋아요 관련 스크립트 -->
<script>
  const bookmarkBtn = document.querySelector(".bookmark-btn");
  const likeBtn = document.querySelector(".like-btn");

  const bookmarkCount = document.querySelector(".post-bookmarks");
  const likeCount = document.querySelector(".post-likes");
  const heartIcon = document.querySelector(".fa-heart")
  const bookMarkIcon = document.querySelector(".fa-star")
  async function bookMarkToggle(postId) {
    const response = await fetch("/api/toggleBookMark/", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken"), // Replace with your method of getting CSRF token
      },
      body: JSON.stringify({
        postId: postId,
      }),
    });

    if (response.ok) {
      const data = await response.json();
      if (data.isBookMarked) {
        bookMarkIcon.classList.remove("fa-regular")
        bookMarkIcon.classList.add("fa-solid")
      } else {
        bookMarkIcon.classList.remove("fa-solid")
        bookMarkIcon.classList.add("fa-regular")
      }
      bookmarkCount.innerHTML = data["bookMark_count"];
    } else {
      console.error("Error toggling bookmark");
    }
  }

  async function likeToggle(postId) {
    const response = await fetch("/api/toggleLike/", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken"), // Replace with your method of getting CSRF token
      },
      body: JSON.stringify({
        postId: postId,
      }),
    });

    if (response.ok) {
      const data = await response.json();
      if (data.isLiked) {
        heartIcon.classList.remove("fa-regular")
        heartIcon.classList.add("fa-solid")
      } else {
        heartIcon.classList.remove("fa-solid")
        heartIcon.classList.add("fa-regular")
      }
      likeCount.innerHTML = data["like_count"];
    } else {
      console.error("Error toggling like");
    }
  }
</script>

<!-- 아코디언 관련 스크립트 -->
<script>
  function toggleAccordion(accordionId) {
          const contentElement = document.querySelector(`#${accordionId}`);
          const arrowElement =
            contentElement.previousElementSibling.querySelector(".arrow");
  
          if (contentElement.style.maxHeight) {
            contentElement.style.maxHeight = null;
            arrowElement.style.transform = "rotate(0deg)";
          } else {
            contentElement.style.maxHeight = contentElement.scrollHeight + "px";
            arrowElement.style.transform = "rotate(180deg)";
          }
        }
  
        function checkWidthAndToggleTitle(accordionId) {
          const titleElement = document.querySelector(
            `#${accordionId}`
          ).previousElementSibling;
  
          if (window.innerWidth <= 600) {
            titleElement.classList.add("visible");
          } else {
            titleElement.classList.remove("visible");
          }
        }
  
       
        window.addEventListener("resize", () => {
          checkWidthAndToggleTitle("accordion1");
          checkWidthAndToggleTitle("accordion2");

        });
        window.addEventListener("load", () => {
          checkWidthAndToggleTitle("accordion1");
          checkWidthAndToggleTitle("accordion2");

          // Add more accordions as needed
        });
</script>

{% endblock %}
