{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="detailPage">
    <div class="detailPage__intro">
      
      <div class="detailPage__title">
        <h2>{{post.title}}</h2>
        <span class="detailPage__action-btn" id="detailPage-likeBtn">
          {% if user.is_authenticated %}
          {% if post.isLiked %}
          <div onclick="likeToggle('{{post.id}}')">
            <i class="fa-solid fa-heart"></i>
          </div>
          {% else %}
          <div onclick="likeToggle('{{post.id}}')">
            <i class="fa-regular fa-heart"></i>
          </div>
          {% endif %}
          {% else %}
          <i class="fa-regular fa-heart"></i>
          {% endif %}
          <span class="post-likes">{{post.like_table.count}}</span>
        </span>
        <span class="detailPage__action-btn" id="detailPage-bookmarkBtn">
          {% if user.is_authenticated %}
          {% if post.isBookMarked %}
          <div onclick="bookMarkToggle('{{post.id}}')">
            <i class="fa-solid fa-star"></i>
          </div>
          {% else %}
          <div onclick="bookMarkToggle('{{post.id}}')">
            <i class="fa-regular fa-star"></i>
          </div>
          {% endif %}
          {% else %}
          <i class="fa-regular fa-star"></i>
          {% endif %}
          <span class="post-bookmarks">{{post.bookmark_table.count}}</span>
        </span>
      </div>
      <ul id="tagList">
        {% for post_tag in post_tags %}
        <li>
          <span>#{{post_tag.tag.name}}</span>
        </li>
        {% endfor %}
      </ul>
      <div class="detailPage__meta">
        <div class="datailPage__category">{{post_category}}</div>
       
      </div>
      <div class="detailPage__writer">
        <a clas href="{% url 'user_page' id=post.user.id %}" class="auth-link">작성자: {{post.user}}</a>
        {% if post.user == user %}
        <a href="{% url 'post:post_edit' id=post.id %}">
          <button class="btn">이 포스트 편집하기</button>
        </a>
        <button type="button" onclick="deletepost('{{post.id}}')" class="btn writePage__btn" >이 포스트 삭제하기</button>
        {% endif %}
      </div>
      <div class="accordion">
        <div class="review-title" onclick="toggleAccordion('accordion1')">
          패스 소개
          <span class="arrow">▼</span>
        </div>
        <div class="content-wrapper" id="accordion1">
          <div class="intro-content">
            <div class="detailPage__thumbnail">
              {% if post.thumbnail %}
              <img src="{{post.thumbnail.url}}" />
              {% else %}
              <img src="{% static 'noimage.jpg' %}" />
              {% endif %}
            </div>
            <div class="detailPage__desc review-container">
              <p>{{post.desc}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detailPage__pathSelect">
      <span>패스 선택</span>
      <select id="pathSelect" class="select"></select>
      <!-- <a href="{% url 'post:post_detail' post.pk %}"><button class="btn">모든 패스 보기</button></a> -->
    </div>
    <hr />
    <ul class="main-container {{post.mode}}-mode detailPage__main">
      
      {% for path in paths %}
      <li class="path path_{{path.id}}">
        <div class="path_title">
          {% if path.title %}
          {{path.title}}
        {% else %}
          이름 없는 패스
          
        {% endif %}
        </div>
        <div class="step-container">
          {% if path.steps.count == 0 %}
          <span class="color-grey">
            스텝이 없습니다.
          </span>
          {% else %}
          {% for step in path.steps %}
          <section class="step step_{{step.id}}">
            <div class="step-content">
              <p class="title">
                {% if step.title == "" %}
                <span class="color-grey">제목이 없어요.</span>
                {% else %}
                {{step.title}}
                {% endif %}
              </p>
              <p class="desc">
                {% if step.desc == "" %}
                <span class="color-grey">
                  설명이 없어요.
                </span>
                {% else %}
                {{step.desc}}
                {% endif %}
              </p>  
            </div>
            <button class="btn detailPage__detailBtn" type="button" onclick="toggleModal('{{step.id}}')">
              더보기
            </button>
          </section>
          {% endfor %}
          {% endif %}
        </div>
        {% for step in path.steps %}
        <div class="modal__overlay hidden" id="step-modal-{{step.id}}">
          <div class="step__edit-modal step__modal modal_{{step.id}}">
            <!-- 더보기 버튼을 눌렀을때 나오는 모달 -->
            <div class="step__comment">
              <div class="step_comment_{{step.id}}">
              </div>
            </div>
            <div class="new__comment">
              <input type="text" class="new-comment" placeholder="댓글을 입력하세요" />
              <button class="btn comment-create" onclick="onClickStepComment('{{step.id}}')">+</button>
            </div>
            <button onclick="onToggleStepDetail('{{step.id}}')" class="btn done">확인</button>
          </div>
        </div>
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
    <div class="detailPage__review">
      <h5 class="detailPage__review-title detailPage__subtitle">후기</h5>
      <div class="accordion accordion__review">
        <div class="review-title" onclick="toggleAccordion('accordion2')">
          후기
          <span class="arrow">▼</span>
        </div>
        <div class="content-wrapper" id="accordion2">
          <div class="review-container">
            <div class="review-content">
              {{post.review}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="detailPage__comment">
      <h5 class="detailPage__subtitle">댓글</h5>
      <div class="comment-container post_{{post.id}}">
        {% for post_comment in post_comments%}
        {% if post_comment.parentComment is None %}

        <div class="post_comment_{{post_comment.id}} comment">
          <p class="comment_writer">
            {{post_comment.writer}}
            {% if user.is_authenticated %}
            <span class="comment-actions">
              <span onclick="onToggleWriteBox('{{post_comment.id}}')">답글</span>
              {% if user == post_comment.writer %}
              <span class="post-comment-delete" onclick="deletePostComment('{{post.id}}','{{post_comment.id}}')">삭제</span>
              {% endif %}
            </span>
            {% endif %}
          </p>
          <p>{{post_comment.text}}</p>
          <div class="comment-children">
            {% for childComment in post_comment.postcomment_set.all %}
            <div class="post_comment_{{childComment.id}}">
              <p class="comment_writer">
                {{childComment.writer}}
                <span class="comment-actions">
                  {% if childComment.writer == request.user %}
                  <span class="post-comment-delete"
                    onclick="deletePostComment('{{post.id}}','{{childComment.id}}')">삭제</span>
                  {% endif %}
                </span>
              </p>
              <p>{{childComment.text}}</p>
            </div>
            {% endfor %}
            <form action="{%url 'post:post_create_comment' post.pk%}" method="POST" class="child-comment-input comment-form hidden">
              {%csrf_token%}
              <input type="hidden" name="parentCommentId" value="{{post_comment.id}}" />
              <input class="writePage-input" type="text" name="comment" placeholder="답글을 입력하세요" />
              <input class="btn" type="submit" value="답글 쓰기" />
            </form>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <form action="{%url 'post:post_create_comment' post.pk%}" method="POST" class="comment-form">
          {%csrf_token%}
          <input class="writePage-input" type="text" name="comment" placeholder="댓글을 입력하세요" />
          <input class="btn" type="submit" value="댓글 쓰기" />
        </form>
      </div>
    </div>
    

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
<script src="{% static 'post/writePage/responsivePath.js' %}"></script>
<!-- csrf token. fetch 요청할때 header에 넣어주면 @exempt 안써도 되요. 밑에 사용례 참고 -->
<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) 
      return parts
        .pop()
        .split(";")
        .shift();
    }
</script>

<!-- ajax 요청 관련 스크립트 -->


<!-- 모든 패스의 첫번째 모달 데이터를 ajax로 불러오기 위해서는 동기처리가 필요하므로 onClickStepDetail 함수를 새롭게 정의함 -->
<script>
const requestStepDetail = new XMLHttpRequest();

const sendStepDetailRequest = (step_id) => {
  return new Promise((resolve, reject) => {
    const url = "step";
    requestStepDetail.open("POST", url, true);
    requestStepDetail.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    var data = JSON.stringify({ step_id: step_id });
    requestStepDetail.onreadystatechange = () => {
      if (requestStepDetail.readyState === XMLHttpRequest.DONE) {
        if (requestStepDetail.status < 400) {
          resolve(JSON.parse(requestStepDetail.response));
        } else {
          reject(new Error("Request failed"));
        }
      }
    };
    requestStepDetail.send(data);
  });
};


const toggleModal = (step_id) => {

  // console.log(document.querySelector(`step_${step_id}`));
  const targetPath = document.querySelector(`.step_${step_id}`).parentElement.parentElement
  const allModals =  targetPath.querySelectorAll(`.modal__overlay`)

  // 모든 모달이 아니라, 해당하는 패스의 모달만..

  for(modal of allModals) {
  modal.classList.add("hidden")
  }

  onClickStepDetail(step_id)
}


const onClickStepDetail = async (step_id) => {
  return new Promise(async (resolve, reject) => {
  
    var element = document.getElementById(`step-modal-${step_id}`);
    element.classList.toggle("hidden");


    try {
      const { user, step, step_comments } = await sendStepDetailRequest(step_id);
      // Process the response here
      // post_writer=JSON.parse(post_writer);
      // console.log(post_writer)
      step_parsed = JSON.parse(step)[0];
        step_comments_parsed = JSON.parse(step_comments);
        const stepNode = document.querySelector(`.modal_${step_parsed["pk"]}`);
        const comment_container = stepNode.querySelector(".step__comment")
        const commentNode = document.querySelector(`.step_comment_${step_parsed["pk"]}`);
        image_url = step_parsed["fields"]["Image"];
        title=step_parsed["fields"]["title"];
        desc=step_parsed["fields"]["desc"];
        step_title=title!==""?title:`제목이 없어요`;
        step_desc=desc!==""?desc:`설명이 없어요`;

        
        // console.log(image_null==true)
        const currentStepInfo = document.querySelector(`.step-${step_parsed["pk"]}`)
        const stepInfo = document.createElement("div")
        if (currentStepInfo) {
          if (image_url) {
            stepInfo.innerHTML = `<h3 class="modal__title ${title == "" ? 'color-grey' : ''}">${step_title}<h3>
                      <hr>
                      <div class="step-detail">
                          <img src="../media/${step_parsed["fields"]["Image"]}" />
                          <p class="${desc == "" ? 'color-grey' : ''}">${step_desc}</p>
                          <hr>
                    </div>`;
          } else {
            stepInfo.innerHTML = `<h3 class="modal__title ${title == "" ? 'color-grey' : ''}">${step_title}<h3>
                      <hr>
                      <div class="step-detail">
                          <p "${desc == "" ? 'color-grey' : ''}">${step_desc}</p>
                      </div>`;
          }
        } else {
          
          stepInfo
            .classList
            .add(`step-${step_parsed["pk"]}`)
          if (image_url) {
            stepInfo.innerHTML = `<h3 class="modal__title ${title == "" ? 'color-grey' : ''}">${step_title}<h3>
                      <hr>
                      <div class="step-detail">
                          <img src="../media/${step_parsed["fields"]["Image"]}" />
                          <p "${desc == "" ? 'color-grey' : ''}">${step_desc}</p>
                          <hr>
                    </div>`;
          } else {
            stepInfo.innerHTML = `<h3 class="modal__title ${title == "" ? 'color-grey' : ''}">${step_title}<h3>
                      <hr>
                      <div class="step-detail">
                          <p "${desc == "" ? 'color-grey' : ''}">${step_desc}</p>
                      </div>`;
          }
          stepNode.insertBefore(stepInfo, comment_container)
        }
        commentNode.innerHTML = ``;
        commentNode.innerHTML += `<div class="modal__comment-title">댓글</div>`;
        // console.log(step_parsed);
        // console.log(step_comments_parsed[0]);
        console.log(user)
        step_comments_parsed.forEach((element) => {
          console.log(element['fields']['writer'])
          commentNode.innerHTML += `<div class="step-${step_parsed["pk"]}-${element["pk"]} comment">
                        <p class="comment_writer">${element["fields"]["writer"]}
                          <span class="comment-actions">
                  
                        <span class="step-comment-delete ${user==element["fields"]["writer"]?'':'hidden'}" onclick=deleteStepComment('${step_parsed["pk"]}','${element["pk"]}')>삭제</span>
                        </span>
                          </p>
                       
                        <p>${element["fields"]["text"]}</p>
                    </div>`;
        });


      resolve(); // Resolve the promise after processing
    } catch (error) {
      reject(error); // Reject the promise in case of an error
    }
  });
};

</script>


<script>
  // var clicked=0;
  // const requestStepDetail = new XMLHttpRequest();
  // const onClickStepDetail = (step_id) => {
  //   var element = document.getElementById(`step-modal-${step_id}`);
  //   element
  //     .classList
  //     .toggle("hidden");

  //   //url은 post/step
  //   const url = "step";
  //   requestStepDetail.open("POST", url, true);
  //   requestStepDetail.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  //   var data = JSON.stringify({step_id: step_id});
  //   requestStepDetail.send(data);
  //   console.log("send data");
  // };
  // requestStepDetail.onreadystatechange = () => {
  //   if (requestStepDetail.readyState === XMLHttpRequest.DONE) {
  //     if (requestStepDetail.status < 400) {
  //       console.log("receive data");
  //       const {step, step_comments} = JSON.parse(requestStepDetail.response);
  //       step_parsed = JSON.parse(step)[0];
  //       step_comments_parsed = JSON.parse(step_comments);
  //       const stepNode = document.querySelector(`.modal_${step_parsed["pk"]}`);
  //       const comment_container = stepNode.querySelector(".step__comment")
  //       const commentNode = document.querySelector(`.step_comment_${step_parsed["pk"]}`);
  //       image_url = step_parsed["fields"]["Image"]
  //       // console.log(image_null==true)
  //       const currentStepInfo = document.querySelector(`.step-${step_parsed["pk"]}`)
  //       const stepInfo = document.createElement("div")
  //       if (currentStepInfo) {
  //         if (image_url) {
  //           stepInfo.innerHTML = `<h3 class="modal__title">${step_parsed["fields"]["title"]}<h3>
  //                     <hr>
  //                     <div class="step-detail">
  //                         <img src="../media/${step_parsed["fields"]["Image"]}" />
  //                         <p>${step_parsed["fields"]["desc"]}</p>
  //                         <hr>
  //                   </div>`;
  //         } else {
  //           stepInfo.innerHTML = `<h3 class="modal__title">${step_parsed["fields"]["title"]}<h3>
  //                     <hr>
  //                     <div class="step-detail">
  //                         <p>${step_parsed["fields"]["desc"]}</p>
  //                     </div>`;
  //         }
  //       } else {
          
  //         stepInfo
  //           .classList
  //           .add(`step-${step_parsed["pk"]}`)
  //         if (image_url) {
  //           stepInfo.innerHTML = `<h3 class="modal__title">${step_parsed["fields"]["title"]}<h3>
  //                     <hr>
  //                     <div class="step-detail">
  //                         <img src="../media/${step_parsed["fields"]["Image"]}" />
  //                         <p>${step_parsed["fields"]["desc"]}</p>
  //                         <hr>
  //                   </div>`;
  //         } else {
  //           stepInfo.innerHTML = `<h3 class="modal__title">${step_parsed["fields"]["title"]}<h3>
  //                     <hr>
  //                     <div class="step-detail">
  //                         <p>${step_parsed["fields"]["desc"]}</p>
  //                     </div>`;
  //         }
  //         stepNode.insertBefore(stepInfo, comment_container)
  //       }
  //       commentNode.innerHTML = ``;
  //       commentNode.innerHTML += `<div class="modal__comment-title">댓글</div>`;
  //       step_comments_parsed.forEach((element) => {
  //         // console.log(element);
  //         commentNode.innerHTML += `<div class="step-${step_parsed["pk"]}-${element["pk"]} comment">
  //                       <p class="comment_writer">${element["fields"]["writer"]}
  //                         <span class="comment-actions">
  //                       {% if user.is_authenticated %}
  //                       <span class="step-comment-delete" onclick="deleteStepComment('${step_parsed["pk"]}','${element["pk"]}')">삭제</span>
  //                       {% endif %}
  //                       </span>
  //                         </p>
                       
  //                       <p>${element["fields"]["text"]}</p>
  //                   </div>`;
  //       });
  //     }
  //   }
  // };

  const requestCommentCreate = new XMLHttpRequest();
  const onClickStepComment = (step_id) => {
    const url = "step/create_comment"; //    post/step/comment_create
    const text = document
      .querySelector(`#step-modal-${step_id} .new-comment`)
      .value;
    requestCommentCreate.open("POST", url, true);
    requestCommentCreate.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    requestCommentCreate.send(JSON.stringify({step_id: step_id, text: text}));
  };

  requestCommentCreate.onreadystatechange = () => {
    if (requestCommentCreate.readyState === XMLHttpRequest.DONE) {
      if (requestCommentCreate.status < 400) {
        const {step_id, comment_id, writer, text} = JSON.parse(requestCommentCreate.response);
        const parent = document.querySelector(`.step_comment_${step_id}`);
        parent.innerHTML += `<div class="step-${step_id}-${comment_id} comment">
                    <p class="comment_writer">${writer}
                      <span class="comment-actions">
                        {% if user.is_authenticated %}
                        <span class="step-comment-delete" onclick="deleteStepComment('${step_id}','${comment_id}')">삭제</span>
                        {% endif %}
                        </span>
                      </p>
                    <p>${text}</p>
                </div>`;
      document
      .querySelector(`#step-modal-${step_id} .new-comment`)
      .value = "";
      } else {
        window
          .location
          .reload();
      }
    }
  };

  const requestStepCommentDelete = new XMLHttpRequest();
  const deleteStepComment = (step_id, comment_id) => {
    const url = "step/delete_comment";
    // console.log(url)
    requestStepCommentDelete.open("POST", url, true);
    requestStepCommentDelete.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    requestStepCommentDelete.send(JSON.stringify({step_id: step_id, comment_id: comment_id}));
  };

  requestStepCommentDelete.onreadystatechange = () => {
    if (requestStepCommentDelete.readyState === XMLHttpRequest.DONE) {
      if (requestStepCommentDelete.status < 400) {
        const {comment} = JSON.parse(requestStepCommentDelete.response);
        comment_parsed = JSON.parse(comment)[0];
        commentNode = document.querySelector(`.step-${comment_parsed["fields"]["step"]}-${comment_parsed["pk"]}`);
        commentNode.remove();
      }
    }
  };

  //post comment delete
  const requestCommentDelete = new XMLHttpRequest();
  const deletePostComment = (post_id, comment_id) => {
    const url = "delete_comment";
    // console.log(url);
    requestCommentDelete.open("POST", url, true);
    requestCommentDelete.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    requestCommentDelete.send(JSON.stringify({post_id: post_id, comment_id: comment_id}));
  };

  requestCommentDelete.onreadystatechange = () => {
    if (requestCommentDelete.readyState === XMLHttpRequest.DONE) {
      if (requestCommentDelete.status < 400) {
        const {comment} = JSON.parse(requestCommentDelete.response);
        comment_parsed = JSON.parse(comment)[0];
        commentNode = document.querySelector(`.post_comment_${comment_parsed["pk"]}`);
        // commentNode=document.querySelector(`.post_${comment_parsed["fields"]["post"]} .post_comment_${comment_parsed["pk"]}`);
        commentNode.remove();
      }
    }
  };

  const onToggleStepDetail = (stepId) => {
    const modal = document.querySelector(`#step-modal-${stepId}`);
    modal
      .classList
      .add("hidden");
  };

  const onToggleWriteBox = (commentId) => {
    const targetComment = document.querySelector(`.post_comment_${commentId}`);
    const input = targetComment.querySelector(".child-comment-input");
    input
      .classList
      .toggle("hidden");
  };

  const onAddChildrenComment = async (postId, parentCommentId) => {
    // console.log(postId, parentCommentId);
    const response = await fetch(`/post/${postId}/create_comment`, {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken"), // Replace with your method of getting CSRF token
      },
      body: JSON.stringify({postId: postId, parentCommentId: parentCommentId})
    });

    if (response.ok) {}
  };



  async function deletepost(id) {
    if(confirm('정말로 삭제하시겠습니까?')){
      const response = await fetch(`/post/delete/${id}`, {
        method: "POST",
        body: JSON.stringify({id: id}),
        headers: {
          "content-type": "application/json",
          "X-CSRFToken": getCookie("csrftoken")
        }
      });

      if (response.status == 200) {
        window.location.href = "/";
      }
    }
  }



</script>


<!-- 최초 패스 보여주기 관련 스크립트 -->
<script>

const fetchStepAndShowModal = async (step_id) => {
  await onClickStepDetail(step_id);
  const modal = document.getElementById(`step-modal-${step_id}`);
  modal.classList.remove("hidden");
};

const showModalsSequentially = async () => {
  const paths = document.querySelectorAll(".path"); // Change to your actual selector
  for (const path of paths) {
    let firstModal = path.querySelectorAll(".modal__overlay")[0];
    await fetchStepAndShowModal(firstModal.id.slice(11));
  }
};

  function showInitialPath(){
    const paths=document.querySelectorAll(".path");
    paths.forEach((item)=>(item.classList.add("hidden")));
    paths[0].classList.remove("hidden");

    // 모달도 보이도록 추가.

    if(window.innerWidth >= 600) {
      showModalsSequentially().catch(error => console.error("Error:", error));
    }
   
  }
  showInitialPath();

</script>



<!-- 북마크, 좋아요 관련 스크립트 -->
<script>
  const bookmarkBtn = document.querySelector(".bookmark-btn");
  const likeBtn = document.querySelector(".like-btn");

  const bookmarkCount = document.querySelector(".post-bookmarks");
  const likeCount = document.querySelector(".post-likes");
  const heartIcon = document.querySelector(".fa-heart");
  const bookMarkIcon = document.querySelector(".fa-star");
  async function bookMarkToggle(postId) {
    const response = await fetch("/api/toggleBookMark/", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken"), // Replace with your method of getting CSRF token
      },
      body: JSON.stringify({postId: postId})
    });

    if (response.ok) {
      const data = await response.json();
      if (data.isBookMarked) {
        bookMarkIcon
          .classList
          .remove("fa-regular");
        bookMarkIcon
          .classList
          .add("fa-solid");
      } else {
        bookMarkIcon
          .classList
          .remove("fa-solid");
        bookMarkIcon
          .classList
          .add("fa-regular");
      }
      bookmarkCount.innerHTML = data["bookMark_count"];
    } else {
      console.error("Error toggling bookmark");
    }
  }

  async function likeToggle(postId) {
    const response = await fetch("/api/toggleLike/", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded",
        "X-CSRFToken": getCookie("csrftoken"), // Replace with your method of getting CSRF token
      },
      body: JSON.stringify({postId: postId})
    });

    if (response.ok) {
      const data = await response.json();
      if (data.isLiked) {
        heartIcon
          .classList
          .remove("fa-regular");
        heartIcon
          .classList
          .add("fa-solid");
      } else {
        heartIcon
          .classList
          .remove("fa-solid");
        heartIcon
          .classList
          .add("fa-regular");
      }
      likeCount.innerHTML = data["like_count"];
    } else {
      console.error("Error toggling like");
    }
  }
</script>

<!-- 아코디언 관련 스크립트 -->
<script>
  function toggleAccordion(accordionId) {
    const contentElement = document.querySelector(`#${accordionId}`);
    const arrowElement = contentElement
      .previousElementSibling
      .querySelector(".arrow");

    if (contentElement.style.maxHeight) {
      contentElement.style.maxHeight = null;
      arrowElement.style.transform = "rotate(0deg)";
    } else {
      contentElement.style.maxHeight = contentElement.scrollHeight + "px";
      arrowElement.style.transform = "rotate(180deg)";
    }
  }

  function checkWidthAndToggleTitle(accordionId) {
    const titleElement = document
      .querySelector(`#${accordionId}`)
      .previousElementSibling;
    if (window.innerWidth <= 600) {
      titleElement
        .classList
        .add("visible");
    } else {
      titleElement
        .classList
        .remove("visible");
    }
  }

  window.addEventListener("resize", () => {
    checkWidthAndToggleTitle("accordion1");
    checkWidthAndToggleTitle("accordion2");
  });
  window.addEventListener("load", () => {
    checkWidthAndToggleTitle("accordion1");
    checkWidthAndToggleTitle("accordion2");

    // Add more accordions as needed
  });
</script>

<!-- 메인 핸들러 -->
<script>

  
  // const paths=document.querySelectorAll(".path");
  // console.log(paths[0].style);
  // paths.forEach((item)=>(item.style.display=none));
  // paths[0].style.display=block;
  updateSelectOptions();
  //changeDisplay(id);

</script>

{% endblock %}
