<div class="detailPage">
    <div class="detailPage__intro">
        <div class="detailPage__title">
            <!-- 제목 -->
            <!-- 좋아요 -->
            <!-- 북마크 -->
        </div>
        <div class="detailPage__meta">
            <!-- 카테고리 -->
            <!-- 태그 -->
        </div>
        <div class="detailPage__writer">
            <!-- 작성자 -->
            <!-- 포스트 편집하기 -->
        </div>
        <div class="accordion">
            <!-- 반응형 -->
            <div class="content-wrapper">
                <div class="intro-content">
                    <div class="detailPage__thumbnail">
                        <!-- 사진 -->
                    </div>
                </div>
                <div class="detailPage__desc">
                    <!-- 설명 -->
                </div>
            </div>
        </div>
        <div class="detailPage__pathSelect">
            <!-- 패스선택 -->
        </div>
    </div>
    <ul class="main {{post.mode}}-mode detailPage__main">
        <li class="path path_{{path.id}}">
            <div class="path_title"></div>
            <div class="step-container">
                <section class="step step_{{step.id}}">
                    <!-- 제목 -->
                    <!-- 내용 -->
                    <!-- 더보기버튼 -->
                </section>
                <div class="modal__overlay hidden" id="step-modal-{{step.id}}">
                    <div class="step__edit-modal step__modal modal_{{step.id}}"></div>
                    <div class="step__comment">
                        <div class="step_comment_{{step.id}}">
                        </div>
                    </div>
                    <div class="new__comment"></div>
                    <!-- 확인버튼(댓글등록) -->
                </div>
            </div>
        </li>
    </ul>
    <div class="detailPage__review">
        <h5 class="detailPage__review-title">후기</h5>
        <div class="accordion accordion__review">
            <div class="review-title"></div>
            <div class="content-wrapper">
                <div class="review-container">
                    <div class="review-content"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="detailPage__comment">
        <div class="comment-container post_{{post.id}}">
            <div class="post_comment_{{post_comment.id}} comment">
                <p class="comment_writer"></p>
                <span class="comment-actions"></span>
                <!-- 댓글 내용 -->
                <div class="comment-children">
                    <div class="post_comment_{{childComment.id}}">
                        <span class="comment-actions">삭제</span>
                        <!-- 댓글 내용 -->
                    </div>
                </div>
            </div>
            <!-- 댓글입력 폼 -->
        </div>
    </div>
   
    
</div>