<div class="writePage">
    <!-- form -->
    <div class="writePage__intro">
        <p class="writePage__title">
            <label class="labelfor"></label>
            <!-- 제목 -->
        </p>
        <div class="writePage__meta">
            <label class="labelfor"></label>
            <!-- 카테고리 -->
            <label class="labelfor">태그</label>
            
        </div>
        <ul id="tagList"></ul>
        <div class="writePage__thumbnail">
            <!-- 썸네일 -->
        </div>
    </div>
    <div class="writePage__desc">
        <!-- 포스트설명 -->
        <div class="writePage__controlBox">
            <!-- 패스선택 -->
        </div>
        <!-- 모드변경 버튼 -->
    </div>
    <hr/>
    <ul class="main main-container column-mode writePage__main">
        <!-- 패스추가 버튼 -->
    </ul>
    <div class="writePage__review">
        <!-- 후기 -->
    </div>
    <!-- 글 등록 버튼 -->
</div>