{% extends 'base.html' %} {% block content %}

<div class="container">
  <form class="mainsearch" method="POST" action="{% url 'post:search' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" placeholder="전체 검색" name="searched" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"> Search </button>
  </form>
</div>
{% block searchcontent %} {% endblock %}

<div class="container">
  <div class="categorycontainer">
    <ul>
      {% for category in categories %}
      <li>
        <a href="{% url 'post:category' category_name=category.name %}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% block mainContent %} {% endblock %} {% endblock %}