{% extends 'base.html' %} {% load static %}

{% block content %}

<div class="main__templates">
  <a href="/">
    <img class="main__logo" src="{% static 'resource/logo.jpg' %}"></img>
  </a>
  <form class="main__searchForm" method="POST" action="{% url 'post:search' %}">
    {% csrf_token %}
    <input
      class="form-control"
      id="search-input"
      placeholder="Search"
      name="searched"
      aria-label="Search"
    />
    <button class="main__search-icon" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <button class="btn btn-outline-success main__search-btn" type="submit">
      Search
    </button>
  </form>
  {% block searchcontent %}{% endblock %}

  <div class="main__category">
    <ul class="main__category-list">
      {% for category in categories %}
      <li class="main__category-item">
        <a href="{% url 'post:category' category_id=category.id %}"
          >{{ category.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% block mainContent %}{% endblock %} {% endblock %}
