{% extends 'post/main__templates.html' %}
{% load static %}

<div>
  {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'library/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}"/>
  {% endblock %}
</div>

<div>
  {% block mainContent %}

    <div>
      {% for cur in curations %}
        <div class="main__curation">
          <h1>{{cur.name}}</h1>
          <ul class="main__curation-container owl-carousel">
            {% for post in cur.list %}
              <li class="main__curation-item">
                <div class="card__container post-id-{{ post.id }}">
                  <div class="card__header">
                    <div class="card-author-profile-image"></div>
                    <div class="card-title">{{post.title}}</div>
                    <div class="card-author">{{post.user.username}}</div>
                  </div>
                  <div class="card__body">
                    <div class="card-thumbnail">
                      {% if post.thumbnail %}
                        <img src="{{post.thumbnail.url}}" alt="my icon"/>
                      {% else %}
                        <img src=""/>
                      {% endif %}
                    </div>
                    <div class="card-description">{{post.desc}}</div>
                  </div>
                  <div class="card__buttons">
                    <div class="btn like-btn">
                      <i class="fa-solid fa-heart"></i>
                      <span>{{post.like_table.count}}</span>
                    </div>
                    <div class="btn reply-btn">
                      <i class="fa-solid fa-comment-dots"></i>
                      <span>댓글</span>
                    </div>
                    <div class="btn share-btn">
                      <i class="fa-solid fa-share-nodes"></i>
                      <span>공유</span>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      {% endfor %}
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'library/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
  <script>
    $(".owl-carousel").owlCarousel({
      center: true,
      loop: true,
      margin: 10,

      responsiveClass: true,
      responsive: {
        0: {
          items: 1.15
        },
        600: {
          items: 3,
          nav: false
        },
        1000: {
          items: 5.2,
          // loop: false,
        }
      }
    });
  </script>

{% endblock %}
