{% extends 'base.html' %} {% load static %} {% block stylesheet %}

<link rel="stylesheet" href="{% static 'post/write/write.css' %}" />
{% endblock %} {% block content %}

<div class="writePage">
  <button onclick="showAllSteps()">steps</button>
  <form onsubmit="handleSubmit(event)">
    <div class="writePage__intro">
      <div class="writePage__title">
        <label class="labelfor">제목</label>
        <input
          maxlength="20"
          class="writePage-input"
          type="text"
          placeholder="포스트 제목"
          name="title"
          id="titleInput"
          required="required"
        />
      </div>
      <div class="writePage__category">
        <label class="labelfor">카테고리</label>
        <select
          class="writePage-input"
          id="categorySelect"
          name="categorySelect"
        >
          {% for cat in categories %}
          <option value="{{cat.name}}">{{cat.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="writePage__tag">
        <label class="labelfor">태그</label>
        <div class="writePage__tag-box">
          <input
            class="writePage-input"
            type="text"
            id="tagInput"
            placeholder="태그를 입력후 enter버튼을 눌러 추가하세요"
          />
          <ul id="tagList"></ul>
        </div>
      </div>
      <div class="writePage__thumbnail upload-file">
        <span class="labelfor">썸네일</span>
        <input
          class="upload-name"
          value="첨부파일"
          placeholder="첨부파일"
          disabled="disabled"
        />
        <label id="image-input-btn" for="imageInput">파일 업로드</label>
        <input type="file" class="upload-hidden" id="imageInput" />
      </div>
    </div>

    <div class="writePage__desc">
      <textarea
        maxlength="500"
        class="writePage-input"
        type="text"
        placeholder="포스트 설명"
        name="desc"
        id="descInput"
        required="required"
      ></textarea>
    </div>

    <div class="section-title">패스 추가하기</div>
    <div class="writePage__controlBox">
      <div class="pathSelect">
        <span>패스 선택</span>
        <select id="pathSelect" class="writePage-input select"></select>
      </div>
      <button
        type="button"
        onclick="toggleMode()"
        class="mode-btn writePage__btn"
      >
        세로모드로
      </button>
    </div>
    <hr class="divider" />
    <ul class="main-container writePage__main col-mode">
      <button
        type="button"
        onclick="createPathAndDisplay()"
        class="initial-path-add-btn add_new-btn writePage__btn"
      >
        패스 추가하기
      </button>
    </ul>

    <h5 class="section-title" id="writePage-review-title">후기</h5>
    <hr class="divider" />
    <div class="writePage__review">
      <textarea
        maxlength="500"
        class="writePage-input"
        type="text"
        name="review"
        placeholder="후기"
        id="reviewInput"
      ></textarea>
    </div>

    <div class="writePage__footer">
      <button type="submit" class="btn post-footer-btn writePage__btn">
        등록하기
      </button>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>

<!-- 태그기능 -->
<script>
  // JavaScript code
  const tagList = []; // Array to store tags

  function addTag(tag) {
    if (!tagList.includes(tag)) {
      tagList.push(tag);
      updateTagList();
    }
  }

  function removeTag(tag) {
    const index = tagList.indexOf(tag);
    if (index !== -1) {
      tagList.splice(index, 1);
      updateTagList();
    }
  }

  function updateTagList() {
    const tagListElement = document.getElementById("tagList");
    tagListElement.innerHTML = ""; // Clear the current list

    tagList.forEach((tag) => {
      const li = document.createElement("li");
      const closeButton = document.createElement("span");
      closeButton.innerText = "x";
      closeButton.classList.add("close-button");
      closeButton.onclick = () => removeTag(tag);

      li.innerText = "#" + tag;
      li.appendChild(closeButton);

      tagListElement.appendChild(li);
    });
  }

  document.getElementById("tagInput").addEventListener("keydown", (event) => {
    if (event.key === "Enter") {
      event.preventDefault(); // Prevent form submission
      const tagInput = event.target.value.trim();
      if (tagInput !== "") {
        addTag(tagInput);
        event.target.value = "";
      }
    }
  });
</script>

<!-- csrf token -->
<script src="{% static 'post/csrftoken.js' %}"></script>
<script src="{% static 'post/responsivePath.js' %}"></script>
<script src="{% static 'post/addNode_by_javascript.js' %}"></script>
<script src="{% static 'post/handle_change_data.js' %}"></script>
<script src="{% static 'post/write/change_mode.js' %}"></script>
<script src="{% static 'post/write/writeUtils.js' %}"></script>
<script src="{% static 'post/edit_modal.js' %}"></script>

<script>
  // 현재 문제는. 이 함수를 지금 test를 위해서 분리해야 하는데,
  // 그러면 import를 못하기 때문에, 다른 함수를

  const titleInput = document.querySelector("#titleInput");
  const descInput = document.querySelector("#descInput");
  const reviewInput = document.querySelector("#reviewInput");
  const imageInput = document.querySelector("#imageInput");
  const categorySelect = document.querySelector("#categorySelect");

  async function handleSubmit(e) {
    e.preventDefault();

    if (!titleInput.value || !descInput.value || !categorySelect.value) {
      //TODO 에러 메시지 띄우기
      return;
    }

    const formData = new FormData();
    formData.append("thumbnail", imageInput.files[0]);
    formData.append("paths", JSON.stringify(paths));
    formData.append("steps", JSON.stringify(steps));
    formData.append("title", titleInput.value);
    formData.append("desc", descInput.value);
    formData.append("review", reviewInput.value);
    formData.append("tags", JSON.stringify(tagList));
    formData.append("category", categorySelect.value);
    formData.append(
      "mode",
      main.classList.contains("col-mode") ? "col" : "row"
    );

    // const main = document.querySelector(".main");
    const response = await fetch("/post/write", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": csrftoken,
      },
    });

    if (response.status == 200) {
      let response123 = await response.json();
      window.location.href = `/post/${response123.id}`;
    } else {
      location.reload();
    }
  }
</script>

<!-- upload-file 첨부파일명 작성 관련 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function () {
    var fileTarget = $(".upload-file .upload-hidden");

    fileTarget.on("change", function () {
      // 값이 변경되면
      if (window.FileReader) {
        // modern browser
        var filename = $(this)[0].files[0].name;
      } else {
        // old IE
        var filename = $(this).val().split("/").pop().split("\\").pop(); // 파일명만 추출
      }

      // 추출한 파일명 삽입
      $(this).siblings(".upload-name").val(filename);
    });
  });
</script>

{% endblock %}
