{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="editPage">
  <!-- <h1>edit</h1> -->
  <form class="edit__form" onsubmit="handleSubmit(event)">
    <div class="writePage__intro">
      <div class="writePage__title">
        <div class="labelfor">포스트 제목</div>
        <input class="writePage-input" maxlength="20" type="text" placeholder="title" name="title" id="titleInput" value="{{post.title}}"/>
      </div>
      <div class="writePage__category">
        <div class="labelfor">카테고리</div>
        <select class="writePage-input" id="categorySelect" name="categorySelect">
          {% for cat in categories %}
            <option value="{{cat.name}}" {% if cat.name == currentCategory %} selected="selected" {% endif %}>{{cat.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="writePage__tag">
        <div class="labelfor">태그</div>
        <div class="writePage__tag-box">
          <input class="writePage-input" id="tagInput" type="text" placeholder="태그를 입력후 enter버튼을 눌러 추가하세요"/>
          <ul id="tagList">
            {% for tagtable in post.tag_table.all %}
              <li class="tag tag_{{tagtable.tag.name}}">#{{tagtable.tag.name}}
                <span class="close-button" onclick="deleteTag('{{tagtable.tag.name}}')">
                  x
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="writePage__thumbnail upload-file">
        <span class="labelfor">썸네일 수정</span>
        <input
          class="upload-name"
          value="첨부파일"
          placeholder="첨부파일"
          disabled="disabled"
        />
        <label for="imageInput">파일 업로드</label>
        <input type="file" class="upload-hidden" id="imageInput" />
      </div>

    </div>
    <div class="writePage__desc">
      <textarea class="writePage-input" maxlength="500" type="text" placeholder="설명" name="desc" id="descInput">{{post.desc}}</textarea>
    </div>

    <div class="section-title">패스 자세히 보기</div>
    <div class="writePage__controlBox">
      <div class="pathSelect">
        <span>패스 선택</span>
        <select id="pathSelect" class="writePage-input select"></select>
      </div>
      <button
        type="button"
        onclick="toggleMode()"
        class="mode-btn writePage__btn"
      >
        세로모드로  
      </button>
    </div>
    <hr class="divider"/>
    <ul class="main-container {{post.mode}}-mode editPage__main">
      {% if paths.length == 0 %}
        <button type="button" onclick="handleAddPath()" class="add_new-btn">
          새로운 패스 추가하기
        </button>
      {% endif %}
      
      {% for path in paths %}
        <li class="path path_{{path.id}}">
          <span class="path_intro">
            <input maxlength="10" placeholder="패스 이름 입력..." type="text" value="{{path.title}}" class="writePage-input path_title" onchange="handleChangePathTitle(event,'{{path.id}}')">
            <button class="secondary-btn path-add-btn" type="button" onclick="handleAddPath('{{path.id}}') ">
              패스+
            </button>
            <button class="step-btn" type="button" onclick="handleDeletePath('{{path.id}}')">
              <i class="fa-solid fa-trash"></i>
            </button>
          </span>
          <!-- 이거 왜 step-container로 바꿨나요..말도 없이 -->
          <div class="step_container_w_btn">
            <div class="step_container {% if post.mode == 'col' %}  {% else %} container_row-mode {% endif %}">
              {% for step in path.steps %}
                <section class="step step_{{step.id}}">
                  <div class="step-content">
                    <input maxlength="20" class="writePage-input title" onchange="handleChangeStepTitle('{{step.id}}')" value="{{step.title}}"/>
                    <textarea maxlength="500" class=" writePage-input desc" onchange="handleChangeStepDesc('{{step.id}}')">{{step.desc}}</textarea>
                    <input type="file" class="imageInput" onchange="handleChangeStepImage('{{step.id}}')" />
                    {% comment %} <div class="upload-file">
                      <label id="step-upload-btn" for="imageInput">사진 수정</label>
                      <input type="file" class="upload-hidden" id="imageInput" onchange="handleChangeStepImage('{{step.id}}')" />
                    </div> {% endcomment %}
                  </div>
                  <div class="step-btn-container">
                    <button class="step-btn" type="button" onclick="moveItemUp('{{step.id}}')">
                      <i class="fa-solid fa-angles-up"></i>
                    </button>
                    <button class="step-btn" type="button" onclick="moveItemDown('{{step.id}}')">
                      <i class="fa-solid fa-angles-down"></i>
                    </button>
                    <button class="step-btn" type="button" onclick="handleDeleteItem('{{step.id}}')">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </section>
              {% endfor %}
            </div>
            <button class="step-add-btn item_add-btn" type="button" onclick="handleAddStep('{{path.id}}')">
            +
          </button>
          </div>
          
          {% comment %} {% for step in path.steps %}
            <div class="modal__overlay hidden">
              <div class="step__edit-modal modal_{{step.id}} hidden">
                <input type="text" class="title"/>
                <textarea class="desc"></textarea>
                <input type="file" class='imageInput'/>
                <div>
                  <button type="button" onclick="handleToggleModal('{{step.id}}')">
                    취소
                  </button>
                  <button type="submit" onclick="handleSaveValue('{{step.id}}')">
                    변경
                  </button>
                </div>
              </div>
            </div>
          {% endfor %} {% endcomment %}

        </li>
      {% endfor %}
    </ul> 

    <h5 class="section-title" id="editPage-review-title">후기</h5>
    <hr class="divider"/>
    <div class="writePage__review">
      <textarea maxlength="500" placeholder="후기" class="writePage-input" id="reviewInput">{{post.review}}</textarea>
    </div>
    <div class="writePage__footer">
      <button class="btn post-footer-btn" type="button" onclick="handleFormCancel()">취소하기</button>
      <button class="btn post-footer-btn" type="submit">수정하기</button>
    </div>
  </form>
</div>
  <!-- uuid -->
  <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
  
  <!-- 삭제기능 -->
  <script>
    async function deletepost(id) {
      const response = await fetch(`/post/delete/${id}`, {
        method: "POST",
        body: JSON.stringify({id: id}),
        headers: {
          "content-type": "application/json",
          "X-CSRFToken": csrftoken
        }
      });

      if (response.status == 200) {
        window.location.href = "/post/list";
      }
    }
  </script>

  <!-- 태그기능 -->
  <script>
    // JavaScript code
    const tagList = []; // Array to store tags
    {% for tagtable in post.tag_table.all %}
      tagList.push("{{ tagtable.tag.name }}");
    {% endfor %}
    let deletedTag = [];
    let addedTag = [];

    function addTag(tag) {
    if(!tagList.includes(tag)) {
      tagList.push(tag);
      addedTag.push(tag)
      updateTagList();
    }
    }

    function deleteTag(tag) {
    const index = tagList.indexOf(tag);
    if (index !== -1) {
      tagList.splice(index, 1);
      deletedTag.push(tag)
      updateTagList();
    }
  }

    function updateTagList() {
    const tagListElement = document.getElementById("tagList");
    tagListElement.innerHTML = ""; // Clear the current list

    tagList.forEach((tag) => {
      const li = document.createElement("li");
      const closeButton = document.createElement("span");
      closeButton.innerText = "x";
      closeButton
        .classList
        .add("close-button");
      closeButton.onclick = () => deleteTag(tag);

      li.innerText = "#" + tag;
      li.appendChild(closeButton);

      tagListElement.appendChild(li);
    });
  }

  document
    .getElementById("tagInput")
    .addEventListener("keydown", (event) => {
      if (event.key === "Enter") {
        event.preventDefault(); // Prevent form submission
        const tagInput = event
          .target
          .value
          .trim();
        if (tagInput !== "") {
          addTag(tagInput);
          event.target.value = "";
        }
      }
    });
  </script>

  <script src="{% static 'post/writePage/responsivePath.js' %}"></script>
  <script src="{% static 'post/writePage/path.js' %}"></script>
  <script src="{% static 'post/writePage/modal.js' %}"></script>
  <script src="{% static 'post/writePage/csrftoken.js' %}"></script>

  <!-- 변수선언 -->
  <script>
    const postData = JSON.parse("{{ jsonPost|escapejs }}");
    const pathData = JSON.parse("{{ jsonPaths|escapejs }}");
    const stepData = JSON.parse("{{ jsonSteps|escapejs }}");

    let paths = [];
    let steps = [];
    let deletedIds = [];
    let deletedPaths = [];

    const imageInput = document.querySelector("#imageInput");
    const main = document.querySelector(".main-container");
    const descInput = document.querySelector("#descInput");
    const categorySelect = document.querySelector("#categorySelect");

    for (let path of pathData) {
      let newPath = {
        ...path.fields,
        id: path.pk,
        isNew: false,
        isEdited: true
      };
      paths.push(newPath);
    }

    for (let instance of stepData) {
      let item = {
        ...instance.fields,
        id: instance.pk,
        isNew: false,
        isEdited: false
      };

      item["pathId"] = item["path"];
      delete item["path"];
      steps.push(item);
    }
  </script>

  <!-- 메인 핸들러 -->
  <script>

    updateSelectOptions();

    function handleAddPath(prevPathId) {

      let id = uuid.v4()
      addPathNode(prevPathId, id)

      const prevPathItem = paths.find((path) => path.id == prevPathId);

      if (prevPathItem) {

        paths = paths.map(
          (path) => path.order >= prevPathItem.order + 1
          ? {
            ...path,
            order: path.order + 1,
            isEdited: true
          }
          : path);

        paths.push({
          id: id,
          order: prevPathItem.order + 1,
          title: ``,
          isNew: true,
          isEdited: false
        });
      } else {
        paths.push({id: id, order: 1, title: ``, isNew: true, isEdited: false});
      }

      updateSelectOptions()
      changeDisplay(id);
    }

    function handleAddStep(targetPathId) {
      let id = uuid.v4();
      addStepNode(targetPathId, id)

      steps.push({
        id,
        pathId: targetPathId,
        order: steps
          .filter((step) => step.pathId == targetPathId)
          .length + 1,
        isNew: true,
        isEdited: false,
        title: "",
        desc: ""
      });
    }

    function handleDeleteItem(stepId) {
      const step = document.querySelector(`.step_${stepId}`);

      step.classList.add("fadeout");
      setTimeout(() => {
      step
        .parentNode
        .removeChild(step);
    }, 300);


     

      steps = steps.filter((step) => step.id !== stepId);
      deletedIds.push(stepId);

    }

    function moveItemUp(stepId) {
      const targetStep = steps.find((step) => step.id == stepId);
      const pathId = targetStep.pathId;
      const target = document.querySelector(`.step_${stepId}`);
      const container = document.querySelector(`.path_${pathId} .step_container`);
      const previousNode = target.previousElementSibling;
      if (!previousNode) 
        return;
      
      container.removeChild(target);
      container.insertBefore(target, previousNode);

      const movedStep = steps.find((step) => step.pathId == pathId && step.order == targetStep.order - 1);
      // targetStep은 order를 -1 . movedStep은 order를 1.
      steps = steps.map((step) => {
        if (step.id == movedStep.id) 
          return {
            ...step,
            order: step.order + 1,
            isEdited: true
          };
        else if (step.id === targetStep.id) 
          return {
            ...step,
            order: step.order - 1,
            isEdited: true
          };
        else 
          return step;
        }
      );
    }

    function moveItemDown(stepId) {
      const targetStep = steps.find((step) => step.id == stepId);
      const pathId = targetStep.pathId;
      const target = document.querySelector(`.step_${stepId}`);
      const container = document.querySelector(`.path_${pathId} .step_container`);
      const nextNode = target.nextElementSibling;

      if (!nextNode) 
        return;
      const next_nextNode = nextNode.nextElementSibling;
      container.removeChild(target);

      if (next_nextNode) {
        container.insertBefore(target, next_nextNode);

      } else {
        container.appendChild(target);
      }

      const movedStep = steps.find((step) => step.pathId == pathId && step.order == targetStep.order + 1);

      steps = steps.map((step) => {
        if (step.id == movedStep.id) 
          return {
            ...step,
            order: step.order - 1,
            isEdited: true
          };
        else if (step.id === targetStep.id) 
          return {
            ...step,
            order: step.order + 1,
            isEdited: true
          };
        else 
          return step;
        }
      );
    }

    function handleDeletePath(targetPathId) {
      const main = document.querySelector(".main-container");
      const target = main.querySelector(`.path_${targetPathId}`);

      var optionElements = selectElement.getElementsByTagName("option");
      var specificOptionIndex = Array
        .from(selectElement.options)
        .findIndex(function (option) {
          return option.value === targetPathId;
        });
      if(specificOptionIndex == 0){
        specificOptionIndex = 2;
      }
      var targetOption = selectElement.options[specificOptionIndex - 1];

      target.classList.add("fadeout");

      setTimeout(() => {
        main.removeChild(target);
        if (main.childElementCount == 0) {
        main.innerHTML = `
      <button type="button" onclick="handleAddPath()" class="add_new-btn btn">
      옆에 새로운 패스 추가하기
      </button>
      `;
    }
    updateSelectOptions();
      if(targetOption) changeDisplay(targetOption.value);
      }, 300)

      deletedPaths.push(targetPathId);
      // 누구야 이거 느낌표 빼놓은거...
      paths = paths.filter((path) => path.id !== targetPathId);
      steps = steps.filter((step) => step.pathId !== targetPathId);

    }

    document.addEventListener("DOMContentLoaded", function() {
      const titleInput = document.querySelector('.title');
      titleInput.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
          event.preventDefault();
        }
      });
    });

  </script>

  <script>
  function handleChangeStepTitle(stepId) {
    const stepNode = document.querySelector(`.step_${stepId}`);
    const titleInput = stepNode.querySelector(".title");

    const step = steps.find((step) => step.id == stepId);
    step.title = titleInput.value;
    step.isEdited = true;

  }

  function handleChangeStepDesc(stepId) {
    const stepNode = document.querySelector(`.step_${stepId}`);
    const descInput = stepNode.querySelector(".desc");

    const step = steps.find((step) => step.id == stepId);
    step.desc = descInput.value;
    step.isEdited = true;

  }

  function handleChangeStepImage(stepId) {
    const stepNode = document.querySelector(`.step_${stepId}`);
    const imageInput = stepNode.querySelector(".imageInput");
    const imageFile = imageInput.files[0];
    const step = steps.find((step) => step.id == stepId);

    if (imageFile) {
      const reader = new FileReader();
      reader.onload = async (event) => {
        imageData = event.target.result;
        step.image = imageData;
      };
      reader.readAsDataURL(imageFile);
    }
    step.isEdited = true;
  }
  </script>

  <!-- form submit -->
  <script>
    function handleFormCancel() {

      // TODO 정말로 취소하시겠습닉까/??
      window.location.href = "/post/list"
    }
    async function handleSubmit(e) {
      e.preventDefault();
      if (!titleInput.value || !descInput.value) 
        return;
      
      const formData = new FormData();
      formData.append("thumbnail", imageInput.files[0]);
      formData.append("paths", JSON.stringify(paths));
      formData.append("steps", JSON.stringify(steps));
      formData.append("deletedPaths", JSON.stringify(deletedPaths));
      formData.append("deletedIds", JSON.stringify(deletedIds));
      formData.append("title", titleInput.value);
      formData.append("desc", descInput.value);
      formData.append("review", reviewInput.value);
      formData.append("category", categorySelect.value);
      formData.append("deletedTag", JSON.stringify(deletedTag));
      formData.append("addedTag", JSON.stringify(addedTag));
      formData.append(
        "mode", main.classList.contains("column-mode")
        ? "col"
        : "row");

      const response = await fetch(`/post/edit/${postData[0].pk}`, {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": csrftoken
        }
      });

      if (response.status == 200) {
        location.reload()
        window.location.href = `/post/${postData[0].pk}`;

      } else {
        location.reload()
      }
    }
  </script>

{% endblock %}
