{% extends 'base.html' %} {% load static %} {% block content %}

<h1>edit</h1>
<form class="edit__form" onsubmit="handleSubmit(event)">
  <span>제목</span>

  <input
    type="text"
    placeholder="title"
    name="title"
    id="titleInput"
    value="{{post.title}}"
  />
  <span>내용</span>
  <textarea type="text" placeholder="설명" name="dsec" id="descInput">
{{post.desc}}</textarea
  >
  <span>카테고리 선택</span>
  <select id="categorySelect" name="categorySelect">
    {% for cat in categories %}
    <option value="{{cat.name}}" {% if cat.name == currentCategory %} selected {% endif %}>{{cat.name}}</option>
    {% endfor %}
  </select>
  <hr />
  <select id="pathSelect" class="select"></select>
  <ul class="main column-mode">
    {% if paths|length == 0 %}
    <button type="button" onclick="handleAddPath()" class="add_new-btn">
      옆에 새로운 패스 추가하기
    </button>
    {% endif %}
    {% for path in paths %}
    <li class="path path_{{path.id}}">
      <input placeholder="패스 이름 입력..." type="text" value="{{path.title}}" class="path_title" onchange="handleChangePathTitle(event,'${id}')">
      <button type="button" onclick="handleAddPath('{{path.id}}')">
        옆에 패스 추가하기
      </button>
      <button type="button" onclick="handleDeletePath('{{path.id}}')">
        이 패스 삭제하기
      </button>

      <div class="step_container">
        {% for step in path.step.all %}
        <section class="step step_{{step.id}}">
          <div>
            <p class="title">{{step.title}}</p>
            <p class="desc">{{step.desc}}</p>
            <button type="button" onclick="moveItemUp('{{step.id}}')">
              위로 올리기
            </button>
            <button type="button">밑으로 내리기</button>
            <button type="button" onclick="handleDeleteItem('{{step.id}}')">
              삭제하기
            </button>
            <button
              class="edit-btn"
              type="button"
              onclick="handleToggleModal('{{step.id}}')"
            >
              편집하기
            </button>
          </div>
          <div class="step__edit-modal modal_{{step.id}} hidden">
            <input type="text" class="title" />
            <textarea class="desc"></textarea>
            <div>
              <button type="button" onClick="handleToggleModal('{{step.id}}')">
                취소
              </button>
              <button type="button" onclick="handleSaveValue('{{step.id}}')">
                변경
              </button>
            </div>
          </div>
        </section>

        {% endfor %}
      </div>
      <button
        type="button"
        onclick="handleAddStep('{{path.id}}')"
        class="item_add-btn"
      >
        밑에 스텝 추가하기
      </button>
    </li>
    {% endfor %}
  </ul>
  <hr />
  <span>후기</span>

  <input
    type="text"
    name="review"
    placeholder="후기"
    id="reviewInput"
    value="{{post.review}}"
  />

  <button type="button" onclick="handleFormCancel()">취소하기</button>
  <button type="submit">변경하기</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie("csrftoken");
</script>
<!-- 
<script>
const listElement = document.querySelector('.main');
const selectElement = document.getElementById('pathSelect');

function updateSelectOptions() {
  selectElement.innerHTML = '';
  const listItems = listElement.querySelectorAll('.path');
  let index = 1;
  for (const listItem of listItems) {
    const option = document.createElement('option');
    option.value = `패스${index}`
    option.textContent = `패스${index}`
    selectElement.appendChild(option);
    index++
  }
}

// Show the selected list item when an option is selected in the dropdown
selectElement.addEventListener('change', () => {
  const selectedOption = selectElement.options[selectElement.selectedIndex];
  const selectedValue = selectedOption.value;
  const listItems = listElement.querySelectorAll('.path');

  // Hide all list items
  listItems.forEach(item => item.style.display = 'none');

  // Show the selected list item
  const selectedItem = Array.from(listItems).find(item => item.classList.contains(`path_${selectedValue}`));
  if (selectedItem) {
    selectedItem.style.display = 'block';
  }
});

// Event listener to update the select dropdown when the window is resized
window.addEventListener('resize', () => {
  if (window.innerWidth <= 600) {
    updateSelectOptions();
  }
});

</script> -->

<script>
  const postData = JSON.parse("{{ jsonPost|escapejs }}");
  const pathData = JSON.parse("{{ jsonPaths|escapejs }}");
  const stepData = JSON.parse("{{ jsonSteps|escapejs }}");

  let paths = [];
  let steps = [];
  let deletedIds = [];
  let deletedPaths = [];

  const main = document.querySelector(".main");
  const descInput = document.querySelector("#descInput");
  const categorySelect = document.querySelector("#categorySelect");

  for (let path of pathData) {
    let newPath = {
      ...path.fields,
      id: path.pk,
      isNew: false,
      isEdited: true,
    };
    paths.push(newPath);
  }
  console.log(paths);

  for (let instance of stepData) {
    let item = {
      ...instance.fields,
      id: instance.pk,
      isNew: false,
      isEdited: false,
    };

    item["pathId"] = item["path"];
    delete item["path"];
    steps.push(item);
  }
  console.log(steps);

  function handleToggleModal(id) {
    const modal = document.querySelector(`.modal_${id}`);
    modal.classList.toggle("hidden");

    // 토글시 다른 아이템들은 다 숨겨지도록 해야함.

    titleVal = descVal = document.querySelector(`.step_${id} .title`).innerText;
    descVal = descVal = document.querySelector(`.step_${id} .desc`).innerText;

    const titleForm = modal.querySelector(".title");
    const descForm = modal.querySelector(".desc");

    titleForm.value = titleVal;
    descForm.value = descVal;
  }

  function handleSaveValue(id) {
    const modal = document.querySelector(`.modal_${id}`);
    const titleForm = modal.querySelector(".title");
    const descForm = modal.querySelector(".desc");

    const titleNode = document.querySelector(`.step_${id} .title`);
    const descNode = document.querySelector(`.step_${id} .desc`);

    titleNode.innerText = titleForm.value;
    descNode.innerText = descForm.value;
    modal.classList.toggle("hidden");

    step = steps.find((step) => step.id == id);
    step.title = titleForm.value;
    step.desc = descForm.value;
    step.isEdited = true;
  }

  function handleChangePathTitle(e,pathId) {
    paths = paths.map(path => path.id == pathId ? {...path, title : e.target.value, isEdited: true} : path )
  }

  function handleAddPath(prevPathId) {
    const main = document.querySelector(".main");
    const NewBtn = document.querySelector(".add_new-btn");
    if (NewBtn) {
      NewBtn.parentNode.removeChild(NewBtn);
    }
    let isColumnMode = main.classList.contains("column-mode");
    let id = uuid.v4();

    li = document.createElement("li");
    li.classList.add(`path`);
    li.classList.add(`path_${id}`);
    // li.innerText = `${id.slice(0, 10)}`;
    li.innerHTML += `
        <input placeholder="패스 이름 입력..." type="text" class="path_title" onchange="handleChangePathTitle(event,'${id}')">
        <button type="button" onclick="handleAddPath('${id}')">옆에 패스 추가하기</button>
        <button type="button" onclick="handleDeletePath('${id}')">이 패스 삭제하기</button>

        <div class="step_container${isColumnMode ? "" : "container_row-mode"}">
                </div>
        <button type="button" onclick="handleAddStep('${id}')" class="item_add-btn">
              밑에 아이템 추가하기
            </button>
        `;
    if(prevPathId) {
      const prevPath = document.querySelector(`.path_${prevPathId}`);
    if (prevPath.nextSibling) {
      main.insertBefore(li, prevPath.nextSibling);
    } else {
      main.append(li);
    }
    } else {
      main.append(li)
    }
 

    paths.push({
      id: id,
      order: paths.length + 1,
      title: `${id.slice(0, 10)}`,
      isNew: true,
      isEdited: false,
    });
  }

  function handleAddStep(targetPathId) {
    let id = uuid.v4();
    const stepContainer = document.querySelector(
      `.path_${targetPathId} .step_container`
    );
    const section = document.createElement("section");
    section.classList.add(`step`);
    section.classList.add(`step_${id}`);
    section.innerHTML = `
              <div>
                <p class="title"></p>
                <p class="desc"></p>
                <button type="button" onclick="moveItemUp('${id}')">위로 올리기</button>
                <button type="button" onclick="moveItemDown('${id}')">밑으로 내리기</button>
                <button type="button" onclick="handleDeleteItem('${id}')">삭제하기</button>
                <button
                  class="edit-btn"
                  type="button"
                  onclick="handleToggleModal('${id}')"
                >
                  편집하기
                </button>
              </div>
              <div class="step__edit-modal modal_${id} hidden">
                <input type="text" class="title" />
                <textarea class="desc"></textarea>
                <div>
                  <button type="button" onClick="handleToggleModal('${id}')">취소</button>
                  <button type="button" onclick="handleSaveValue('${id}')">변경</button>
                </div>
              </div>
        `;
    stepContainer.appendChild(section);

    steps.push({
      id,
      pathId: targetPathId,
      order: steps.filter((step) => step.pathId == targetPathId).length + 1,
      isNew: true,
      isEdited: false,
      title: "",
      desc: "",
    });
  }

  function handleDeleteItem(stepId) {
    const step = document.querySelector(`.step_${stepId}`);
    step.parentNode.removeChild(step);

    steps = steps.filter((step) => step.id !== stepId);
    deletedIds.push(stepId);
  }

  function handleDeletePath(targetPathId) {
    const main = document.querySelector(".main");
    const target = main.querySelector(`.path_${targetPathId}`);
    main.removeChild(target);

    if (main.childElementCount == 0) {
      main.innerHTML = `
      <button type="button" onclick="handleAddPath()" class="add_new-btn">
      옆에 새로운 패스 추가하기
      </button>
      `;
    }
    deletedPaths.push(targetPathId);
    paths = paths.filter((path) => path.id == targetPathId);
    steps = steps.filter((step) => step.pathId !== targetPathId);
  }

  async function handleSubmit(e) {
    e.preventDefault();

    const response = await fetch(`/post/edit/${postData[0].pk}`, {
      method: "POST",
      body: JSON.stringify({
        paths: paths,
        steps: steps,
        deletedPaths: deletedPaths,
        deletedIds: deletedIds,
        title: titleInput.value,
        desc: descInput.value,
        review: reviewInput.value,
        category: categorySelect.value,
        mode: "col",
      }),
      headers: {
        "content-type": "application/json",
        "X-CSRFToken": csrftoken,
      },
    });

    console.log(await response.json());
    // window.location.href = "/";
  }
</script>
{% endblock %}
