{% extends 'post/main__templates.html' %}
{% load static %}

<div>
  {% block mainContent %}
    {% if searched %}

      <h1>"{{ searched }}"에 대한 검색 결과입니다.</h1>
      <br/>
      {% for searched_post in searched_posts %}

        <div class="post__title"></div>
        <div class="post__container">
          <div class="card__container post-id-{{ post.id }}">
            <a href="/post/{{ searched_post.id }}">
              <div class="card__header">
                <div class="card-author-profile-image"></div>
                <div class="card-title">{{ searched_post.title }}</div>
                <div class="card-author">{{searched_post.user}}</div>
              </div>
              <div class="card__body">
                <div class="card-thumbnail">{{searched_post.thumbnail}}</div>
                <div class="card-description">{{searched_post.desc}}</div>
              </div>
              <div class="card__buttons">
                <div class="btn like-btn">
                  <i class="fa-solid fa-heart"></i>
                </div>
                <div class="btn reply-btn">
                  <i class="fa-solid fa-comment-dots"></i>
                </div>
                <div class="btn share-btn">
                  <i class="fa-solid fa-share-nodes"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h1>검색 결과</h1>
      <h1>찾고 있는 레시피를 검색창에 입력해주세요.</h1>
    {% endif %}
  {% endblock %}
</div>
{% endfor %}

{% else %}
<h1>
찾고 있는 검색어를 검색창에 입력해주세요.
</h1>
{% endif %}
{% endblock %}
