{% extends 'base.html' %} {% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="login">
    <h2>Login</h2>
    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}

        <label for="loginId">ID: </label>
        <input type="text" name="loginId" required>

        <label for="password">Password: </label>
        <input type="password" name="password" required>
        
        <button type="submit">로그인</button>
    </form>
    <p>계정이 없으신가요? <a href="{% url 'user_signup' %}">회원가입</a></p>
</div>
{% endblock %}