{% extends 'base.html' %}
{% block content %}
<div class="center__layout">
  <h2>비밀번호 재설정</h2>
<form action="{% url 'reset_password' %}" method="post">
  {% csrf_token %}
  <label for="loginId">Login ID:</label>
  <input type="text" name="loginId" required><br>
  <label for="new_password">새 비밀번호:</label>
  <input type="password" name="new_password" required><br>
  <label for="confirm_password">비밀번호 확인:</label>
  <input type="password" name="confirm_password" required><br>
  <input type="submit" value="비밀번호 변경">
</form>
</div>
{% endblock %}