{% extends 'base.html' %} {% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="signup">
    <h1>로그인</h1>
    <form action="{% url 'user_signup' %}" method="post">
        {% csrf_token %}

        {{ form.loginId.label_tag }} {{ form.loginId }}
        {{ form.username.label_tag }} {{ form.username }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.password1.label_tag }} {{ form.password1 }}
        {{ form.password2.label_tag }} {{ form.password2 }}
        {{ form.intro.label_tag }} {{ form.intro }}
        {{ form.membership.label_tag }} {{ form.membership }}

        <button type="submit">등록</button>
    </form>
    <p>이미 계정이 있나요? <a href="{% url 'user_login' %}">Login</a></p>
    {% if form.errors %}
    <div class="errors">
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}