{% extends 'user/login_templates.html' %} {% block formContent %}

<div class="signup auth-container">
  <h1>회원가입</h1>
  <form action="{% url 'user_signup' %}" method="post">
    {% csrf_token %}
    <span
      ><p class="auth__label">loginId</p>
      {{ form.loginId }}
    </span>
    <span
      ><p class="auth__label">username</p>
      {{ form.username }}
    </span>
    <span>
      <p class="auth__label">password</p>
      {{ form.password1 }}
    </span>
    <span
      ><p class="auth__label">password confirmation</p>
      {{ form.password2 }}
    </span>

    <button class="btn" id="signup-btn" type="submit">가입하기</button>
  </form>
  <p>이미 계정이 있나요? <a class="auth-link" href="{% url 'user_login' %}">로그인</a></p>
  {% if form.errors %}
  <div class="errors">
    <ul>
      {% for field in form %} {% for error in field.errors %}
      <li>{{ error }}</li>
      {% endfor %} {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock %}
