{% extends 'base.html' %} {% load static %} {% load my_filters %}

<div>
  {% block stylesheet %}
  <link
    rel="stylesheet"
    href="{% static 'library/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}"
  />
  <link rel="stylesheet" href="{% static 'user/userpage.css' %}" />
  {% endblock %}
</div>

{% block content %}
<div class="userPage">
  <div class="userinfo__title">
    <div class="userinfo-box">{{user.membership}} {{user.username}}</div>
    <div>
      {% if user.is_authenticated and user == request.user%}
      <a href="{% url 'my_page' %}">
        <button class="secondary-btn">내 정보 수정</button>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="userinfo__container owl-carousel">
    <div class="usercard__container">
      <div class="usercard__header">자기소개</div>
      <div class="usercard__body">
        <div class="usercard__content">{{user.intro}}</div>
      </div>
    </div>
    <div class="usercard__container">
      <div class="usercard__header">작성한 Path의 수</div>
      <div class="usercard__body">
        <div class="usercard__content">{{posts_count}}</div>
      </div>
    </div>

    {% for card in user_cards %}
    <div class="usercard__container card__{{card.id}}">
      <div class="usercard__header">
        {% if card.link %}
        <a href="{{card.link|add_protocol}}" target="_blank" class="auth-link">
          {{card.title}}
        </a>
        {% else %} {{card.title}} {% endif %}
      </div>
      <div class="usercard__body">
        <div class="usercard__content">{{card.desc}}</div>
      </div>
    </div>

    {% endfor %}
  </div>
  <div class="post__title">{{user.username}}의 패스들</div>
  <div class="post__container">
    {% for post in posts %}
    <div class="card__container post-id-{{ post.id }}">
      <a href="{% url 'post:post_detail' pk=post.id %}">
        <div class="card__header">
          <div class="card-author-profile-image"></div>
          <div class="card-title">{{post.title}}</div>
          <div class="card-author">{{post.user}}</div>
        </div>
        <div class="card__body">
          <div class="card-thumbnail">
            {% if post.thumbnail %}
            <img src="{{post.thumbnail.url}}" />
            {% else %}
            <img src="{% static 'resource/noimage.jpg' %}" />
            {% endif %}
          </div>
          <div class="card-description">{{post.desc}}</div>
        </div>
        <div class="card__buttons">
          <div class="like-btn">
            <i class="fa-solid fa-heart"></i>
            <span>{{post.like_table.count}}</span>
          </div>
          <div class="reply-btn">
            <i class="fa-solid fa-comment-dots"></i>
            <span>{{post.post_comment.count}}</span>
          </div>
          <div class="share-btn" onclick="copyPostLink('{{post.id}}')">
            <i class="fa-solid fa-share-nodes"></i>
            <span>공유</span>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Handler when the DOM is fully loaded
    const addBtn = document.querySelector(".userPage__add-btn");
    const addForm = document.querySelector(".userPage__add-form");
    addBtn.parentElement.onclick = () => {
      addBtn.classList.toggle("hidden");
      addForm.classList.toggle("hidden");
    };
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'library/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
<script>
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 10,
    responsiveClass: true,
    nav: false,
    responsive: {
      0: {
        items: 1.15,
      },
      600: {
        items: 3,
      },
      1000: {
        items: 3.3,
        // loop: false,
      },
    },
  });
</script>

{% endblock %}
