{% extends 'base.html' %} {% load static %}
{% block content %}
<div>
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'user/userinfo.css' %}" />
  {% endblock %}
</div>

<div class="pwEditPage">
  <h2>비밀번호 변경</h2>
  <form method="POST" class="pw-edit-form" novalidate>
    {% csrf_token %}
    <div class="pwEdit-input-box">
      <label name="label_old_password" for="{{ password_change_form.old_password.id_for_label }}">{{ password_change_form.old_password.label }}</label>
      {{ password_change_form.old_password }}
      <script type="text/javascript">
        if (document.getElementsByName('old_password')[0].value != '') {
            document.getElementsByName('label_old_password')[0].setAttribute('class', 'active');
        }
      </script>
      {% if password_change_form.old_password.errors %}
      <script type="text/javascript">
        document.getElementsByName('old_password')[0].setAttribute('class', 'form-control is-invalid')
      </script>
      {% for error in password_change_form.old_password.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="pwEdit-input-box">
      <label name="label_new_password1" for="{{ password_change_form.new_password1.id_for_label }}">{{ password_change_form.new_password1.label }}</label>
      {{ password_change_form.new_password1 }}
      <script type="text/javascript">
        if (document.getElementsByName('new_password1')[0].value != '') {
          document.getElementsByName('label_new_password1')[0].setAttribute('class', 'active');
        }
      </script>
      {% if password_change_form.new_password1.errors %}
      <script type="text/javascript">
        document.getElementsByName('new_password1')[0].setAttribute('class', 'form-control is-invalid')
      </script>
      {% for error in password_change_form.new_password1.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="pwEdit-input-box">
      <label name="label_new_password2" for="{{ password_change_form.new_password2.id_for_label }}">{{ password_change_form.new_password2.label }}</label>
      <div class="pw-input-box-w-warning">
        {{ password_change_form.new_password2 }}
        <script type="text/javascript">
          if (document.getElementsByName('new_password2')[0].value != '') {
              document.getElementsByName('label_new_password2')[0].setAttribute('class', 'active');
          }
        </script>
        {% if password_change_form.new_password2.errors %}
        <script type="text/javascript">
          document.getElementsByName('new_password2')[0].setAttribute('class', 'form-control is-invalid')
        </script>
        {% for error in password_change_form.new_password2.errors %}
        <div style="white-space: nowrap;" class="invalid-feedback">
          {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="password-warning">
          최소 8개의 숫자와 문자 또는 특수기호를 입력해주세요.
        </div>
      </div>
      
    </div>
    <div class="pwEdit-btn-box">
      <button type="submit" class="btn">변경하기</button>
    </div>
  </form>
</div>
{% endblock %}