{% extends 'base.html' %} {% block stylesheet %}
<style>
  .reset-pw-box .auth-input {
    margin-bottom: 1rem;
  }
</style>

{% endblock %} {% block content %}
<div class="center__layout">
  <div class="auth-container">
    <h2>비밀번호 재설정</h2>
    <form action="{% url 'reset_password' %}" method="post">
      {% csrf_token %}
      <div class="reset-pw-box">
        <input
          name="loginId"
          class="auth-input"
          type="text"
          placeholder="ID"
          required
        />
        <input
          class="auth-input"
          type="password"
          placeholder="새 비밀번호"
          name="new_password"
          required
        />
        <input
          class="auth-input"
          type="password"
          placeholder="비밀번호 확인"
          name="confirm_password"
          required
        />
      </div>
      <button class="btn auth-btn-disabled" id="login-btn" type="submit">
        비밀번호 변경
      </button>
    </form>
  </div>
</div>
{% endblock %}
